
	<div id="middle" class="clearfix">
		<!-- Container Start -->
		<div id="container">
			<!-- Content Start -->
			<div id="content-full">
				<div class="page">
					<div class="news">
						<div class="news-body clearfix">
                            <?php foreach($this->news as $news): ?>
                            <div class="news-item">
                                <p class="date"><?=$news['date']?> <a href="/news/<?=$news['id']?>"><?=$news['title']?></a></p>
                                <p><?=snippet($news['text'],1)?></p>
                            </div>
                            <?php endforeach; ?>
						</div>
						<div class="pagination">
                            <?= $this->paginationControl($this->news, 'Sliding', 'pagination.phtml'); ?>
						</div>
					</div>
				</div>
			</div>
            <!-- Content End -->
		</div>
		<!-- Container End -->
	</div>

<?php
function snippet($text,$length=1,$tail="...") {
    $text = trim($text);
    $txtl = mb_strlen($text,'UTF-8');
    if($txtl > $length) {
        $words = mb_split("(\.|\!|\?)",$text);
        $text = '';
        for($i=0;$i<=$length;$i++) {
            $text.= $words[$i];
        }
        $text .= $tail;
    }
    return $text;
}
