<div id="middle" class="clearfix">
    <!-- Container Start -->
    <div id="container">
        <!-- Content Start -->
        <div id="content-full">
            <div class="page">
                <div class="news">
                    <p class="date"><?=$this->news->date?></p>
                    <h4><?=$this->news->title?></h4>
                    <p><?=$this->news->text?></p>
                    <p class="all-news"><a href="/news">Все новости</a></p>
                </div>
            </div>
        </div>
        <!-- Content End -->
    </div>
    <!-- Container End -->
</div>
