<div class="info">
    <h2>Служба поддержки</h2>
    <div>Специалисты служба поддержки помогут решить возникшие проблемы</div>
</div>
<div class="text">
    В данный момент связь с менеджерами осуществляется через контакты указанные под логотипом.
</div>