<?php $this->headTitle('О системе'); ?>
<div class="about_container">

    <h1>о системе</h1>

    <div class="block1">

        <p class="text10">
        </p>

    </div>

    <div class="block2">

        <p class="text11"></p>

    </div>

    <div class="service_table">

        <table width="700" height="480" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="321">
                    <p class="text12">
                        <span>Где можно<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;использовать?</span>
                    </p>
                </td>
                <td width="58">&nbsp;</td>
                <td width="321">
                    <img src="/images/service1.png" alt="">
                    <span class="service_name">Продажу мобильного контента для телефонов и КПК (картинки, темы оформления, мелодии, видео, java-игры и т.д.)</span>
                </td>
            </tr>
            <tr>
                <td width="321">
                    <img src="/images/service2.png" alt="">
                    <span class="service_name">Проведение маркетинговых исследований, смс-опросов</span>
                </td>
                <td>&nbsp;</td>
                <td width="321">
                    <img src="/images/service3.png" alt="">
                    <span class="service_name">Продажа серийных номеров к программам</span>
                </td>
            </tr>
            <tr>
                <td width="321">
                    <img src="/images/service4.png" alt="">
                    <span class="service_name">Продажу ссылок для загрузки электронных книг, музыки, фильмов, игр</span>
                </td>
                <td>&nbsp;</td>
                <td width="321">
                    <img src="/images/service5.png" alt="">
                    <span class="service_name">смс-голосование,<br>викторины,<br>конкурсы</span>
                </td>
            </tr>
            <tr>
                <td width="321">
                    <img src="/images/service6.png" alt="">
                    <span class="service_name">Предоставление сервисов смс-справки (курсы валют, маршруты транспорта и т.п.)</span>
                </td>
                <td>&nbsp;</td>
                <td width="321">
                    <img src="/images/service7.png" alt="">
                    <span class="service_name">Организацию платного доступа к закрытым разделам сайта или форума</span>
                </td>
            </tr>
        </table>

    </div>

    <div class="block3">
        Легальность! Работа с нами возможна как для физических, так и для юридических лиц (клубов, ресторанов, рекламных
        агентств, банков, служб доставки, страховых компаний).
    </div>

    <div class="block4">
        Компания MicroSMS предлагает вашему вниманию выгодные условия сотрудничества. Мы поможем вам приумножить продажи
        товаров и услуг.

        <p class="text13">Доверьтесь профессионалам и откройте новые возможности для вашего бизнеса вместе с нами.</p>
    </div>

</div>