<?php $this->headTitle('Контакты'); ?>
<div class="contacts_image"><img src="/images/contacts.png" alt=""></div>

<div class="contacts">

    <span class="text06">Телефон</span><img src="/images/phone.gif" alt=""><span class="text07">+7 (963)</span> 999 99
    61
    <br/><br/><br/>
    <span class="text06">Электропочта</span><img src="/images/dog.gif" alt="">
    <span class="text07"><script>
        function email() { return 'info' + '@micro' + 'sms' + '.' + 'ru'; }
        function mailto() { return 'mail' + 'to' + ':'; }
        document.write('<a href="' + mailto() + email() + '">' + email() + '</a>');
    </script></span>
</div>

<div class="feedback_panel"></div>

<div class="feedback_panel_content">

    Вы можете отправить нам сообщение(письмо) прямо с нашего сайта, используя форму обратной связи<br />
    <?php
        if (is_array($this->error)) {
            echo "<br />";
            foreach($this->error as $key => $error) {
                if(!empty($key)) {
                    echo "<p><strong>" . $key . ":</strong> ";
                        if(is_array($error)){
                            foreach($error as $msg)  echo $msg . "<br />";
                        }
                    echo "</p>";
                } else {
                    echo "<p><strong>" . $error . "</strong></p>";
                }
            }
        }
    ?>
    <form action="" method="post">
        <div class="input3_container">
            <input type="text" name="name" class="input3" value="Ваше имя и фамилия..."
                   onfocus="this.value=(this.value=='Ваше имя и фамилия...') ? '' : this.value;"
                   onblur="this.value=(this.value=='') ? 'Ваше имя и фамилия...' : this.value;">
        </div>

        <div class="input3_container">
            <input type="text" name="contact" class="input3" value="Контактные данные для связи с вами..."
                   onfocus="this.value=(this.value=='Контактные данные для связи с вами...') ? '' : this.value;"
                   onblur="this.value=(this.value=='') ? 'Контактные данные для связи с вами...' : this.value;">
        </div>

        <div class="textarea_container">
            <textarea name="text" class="textarea">Текст сообщения...</textarea>
        </div>

        <div class="captcha">
            <img src="/images/captcha.png">
        </div>

        <div class="input4_container">
            <input type="text" name="captcha" size="4" maxlength="4" class="input4" value="Введите защитный код..."
                   onfocus="this.value=(this.value=='Введите защитный код...') ? '' : this.value;"
                   onblur="this.value=(this.value=='') ? 'Введите защитный код...' : this.value;">
        </div>

        <input type="image" name="button" class="send_button" style="border:0px;background-color:transparent"
               src="/images/button3.png" alt="" title="">

    </form>

</div>