<div class="info">
    <h2>Сервисы</h2>
    <div><a href="/services">Управление вашими sms-сервисами</a><span class="spacer"></span>Создание нового сервиса</div>
</div>

<?php
if($this->form->isErrors()) {
    #echo $this->formErrors($this->form->getMessages());
    echo '<div class="error"><h3>Ошибка заполнения формы, проверьте следующие поля:</h3><p>';
    foreach($this->form->getMessages() as $field => $errors) {
        echo '<strong>' . $this->form->{$field}->getLabel() . '</strong> ';
    }
    echo '</p></div>';
}
?>
<div class="fieldset" style="display:block;">
    <form action="<?= $this->escape($this->form->getAction()) ?>" method="<?= $this->escape($this->form->getMethod()) ?>">
        <ul>
            <li class="complex">
                <div>
                    <span class="left full">
                        <?= $this->form->name ?>
                    </span>
                    <span class="left full">
                        <?= $this->form->desc ?>
                    </span>
                    <span class="left full">
                        <?= $this->form->url ?>
                    </span>
                    <span class="left">
                        <?= $this->form->encode ?>
                    </span>
                    <span class="right">
                        <?= $this->form->skey ?>
                    </span>
                </div>
            </li>
            <li class="checkboxlist">
                <?=$this->form->status;?>
            </li>

            <li class="buttons">
                <button type="button" onClick="javascript:document.location='/services';"><span class="ui-icon ui-icon-close"></span> Отмена</button>
                <button type="submit"><span class="ui-icon ui-icon-check"></span> Создать</button>
            </li>
        </ul>
    </form>
</div>

<script type="text/javascript">
    $("li.buttons > button").each(function(){
        $(this).button();
    });
</script>