<div class="info">
    <h2>Сервисы</h2>
    <div><a href="/services">Управление вашими sms-сервисами</a><span class="spacer"></span>Редактирование сервиса "<?=$this->form->name->getValue()?>"</div>
</div>

<?php
if($this->form->isErrors()) {
    #echo $this->formErrors($this->form->getMessages());
    echo '<div class="error"><h3>Ошибка заполнения формы, проверьте следующие поля:</h3><p>';
    foreach($this->form->getMessages() as $field => $errors) {
        echo '<strong>' . $this->form->{$field}->getLabel() . '</strong> ';
    }
    echo '</p></div>';
}
?>
<div id="dialog" title="Что такое префиксы" style="display:none;">
  <img src="/images/icons/question.png" alt="" align="left" style="margin: 5px 10px 10px 0;"><p align="justify">Префиксы - это уникальный набор символов, по которым определяется системой кому из партнёров адресовано sms сообщение.<br /><br />Префикс состоит из 2-х уровней:<br />Первый уровень задаётся биллингом.<br />Второй должен быть уникальным, его придумывает партнёр.</p>
</div>
<div class="fieldset" style="display:block;">
    <form action="<?= $this->escape($this->form->getAction()) ?>" method="<?= $this->escape($this->form->getMethod()) ?>">
        <ul>
            <li class="complex">
                <div>
                    <span class="left full">
                        <?= $this->form->name ?>
                    </span>
                    <span class="left full">
                        <?= $this->form->desc ?>
                    </span>
                    <span class="left full">
                        <?= $this->form->url ?>
                    </span>
                    <span class="left">
                        <?= $this->form->encode ?>
                    </span>
                    <span class="right">
                        <?= $this->form->skey ?>
                    </span>
                </div>
            </li>
            <li class="checkboxlist leftHalf">
                <?=$this->form->prefixes;?>
            </li>
            <li class="rightHalf">
                <label for="prefix2" class="desc">Создать новый префикс</label>
                <span>
                    <?= $this->form->prefix1 ?>
                </span>
                <span>
                    <?= $this->form->prefix2 ?>
                </span>
                <img alt="Проверить" src="/images/blank.gif" id="check">
                <img alt="Помощь" src="/images/icons/question.png" class="datepicker" id="help">
            </li>

            <li class="buttons">
                <button type="button" onClick="javascript:document.location='/services';"><span class="ui-icon ui-icon-close"></span> Отмена</button>
                <button type="submit"><span class="ui-icon ui-icon-check"></span> Сохранить</button>
            </li>
        </ul>
    </form>
</div>

<script type="text/javascript">
    $("li.buttons > button").each(function(){
        $(this).button();
    });
    $("#help").click(function(){
        $('#dialog').dialog({
            modal: true
        });
    });
    $("#prefix1, #prefix2").live("change", function(){
        var el = $("#check");
        $(el).attr('src', '/images/ajax-loader.gif');
        var prefix2 = $("#prefix2").val();
        if(prefix2.length < 3) {
            $(el).attr('src', '/images/icons/cross.png').attr('title', 'Префикс 2 уровня не может быть короче 3 символов');
            $.pnotify({
                pnotify_title: "Информация",
                pnotify_text: "Префикс 2 уровня не может быть короче 3 символов",
                pnotify_error_icon: 'picon icon-info',
                pnotify_history: false,
                pnotify_nonblock: true,
                pnotify_type: 'error'
            });
            return false;
        }
        $.ajax({
            url: '/services/free',
            method: 'POST',
            data: {
                'prefix1': $("#prefix1 option:selected").html(),
                'prefix2': prefix2
            },
            dataType: 'json',
            cache: false,
            timeout: (3 * 1000),
            success: function(response) {
                if(response.result == 1) {
                    $(el).attr('src', '/images/icons/cross.png').attr('title', 'Префикс недоступен или занят');
                    $.pnotify({
                        pnotify_title: "Ошибка",
                        pnotify_text: "Префикс недоступен или занят",
                        pnotify_error_icon: 'picon icon-info',
                        pnotify_history: false,
                        pnotify_nonblock: true,
                        pnotify_type: 'error'
                    });
                } else {
                    $(el).attr('src', '/images/icons/tick.png').attr('title', 'Префикс доступен для регистрации');
                }
            },
            error: function() {
                $(el).attr('src', '/images/icons/cross.png');
                $.pnotify({
                    pnotify_title: "Ошибка",
                    pnotify_text: "Неудалось получить данные с сервера, попробуйте повторить запрос",
                    pnotify_error_icon: 'picon icon-info',
                    pnotify_history: false,
                    pnotify_nonblock: true,
                    pnotify_type: 'error'
                });
            }
        });
    });
</script>