<div class="info">
    <h2>Сервисы</h2>
    <div>Управление вашими sms-сервисами</div>
</div>
<button type="button" id="addservice">Создать новый сервис</button>
<br />
<br />
<div class="ui-grid ui-widget">
    <table id="table" class="ui-grid-content ui-widget-content ui-corner-all">
        <thead>
            <tr>
                <th class="ui-state-hover sortable" name="id">ID#</th>
                <th class="ui-state-hover sortable" name="name">Название</th>
                <th class="ui-state-hover sortable" name="desc">Описание</th>
                <th class="ui-state-hover sortable" name="url">URL</th>
                <th class="ui-state-hover sortable" name="status">Статус</th>
                <th class="ui-state-hover sortable" name="date">Дата</th>
                <th class="ui-state-hover">Управление</th>
            </tr>
        </thead>
        <tbody>
            <?=$this->partialLoop('services/row.phtml', $this->items);?>
        </tbody>
    </table>
</div>
<div id="dialog" title="Предупреждение" style="display:none;">
  <img src="/images/icons/question.png" alt="" align="left" style="margin: 5px 10px 10px 0;"><p align="justify">Вы уверены что хотите навсегда удалить сервис? Его нельзя будет вернуть.</p>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#table").grid({
        location: '<?=$this->url(array('sort' => chr(0), 'dir' => (Zend_Controller_Front::getInstance()->getRequest()->getParam('dir', 'desc')=='asc'?'desc':'asc') ))?>',
        sort: '<?=Zend_Controller_Front::getInstance()->getRequest()->getParam('sort', 'id');?>',
        dir: '<?=(Zend_Controller_Front::getInstance()->getRequest()->getParam('dir', 'asc')=='desc'?'s':'n');?>',
        buttons: [{
            icon: 'ui-icon-wrench',
            click: function() { window.location = $(this).attr('rel'); }
        },{
            icon: 'ui-icon-trash',
            click: function() {
                var el = this;
                $('#dialog').dialog({
                    modal: true,
                    buttons: {
                        "Отмена": function() {
                            $(this).dialog("close");
                        },
                        "Удалить": function() {
                            window.location = $(el).attr('rel');
                        }
                    }
                });
            }
        }]
    });
    $("#addservice").button({
        icons: {
            primary: 'ui-icon-plus'
        }
    }).click(function(){
        window.location = '<?=$this->url(array('controller' => 'services', 'action' => 'add'), null, true)?>';
    });
});
</script>