<tr class="<?=(!$this->getHelper('PartialLoop')->view->altrow ^= 1) ? 'alt' : ''?>">
    <td class="ui-widget-content"><?=$this->id?></td>
    <td class="ui-widget-content"><?=$this->name?></td>
    <td class="ui-widget-content"><?=$this->desc?></td>
    <td class="ui-widget-content"><?=$this->url?></td>
    <td class="ui-widget-content<?=(($this->status=='active')?'':' ui-state-error-text')?>"><?=(($this->status=='active')?'Активный':'Заблокирован')?></td>
    <td class="ui-widget-content"><?=$this->date?></td>
    <td class="ui-widget-content"><button rel="<?=$this->url(array('controller' => 'services', 'action' => 'edit', 'id' => $this->id, 'hash' => Zend_Session::getId()), null, true)?>"></button> <button class="ui-state-error-text" rel="<?=$this->url(array('controller' => 'services', 'action' => 'delete', 'id' => $this->id, 'hash' => Zend_Session::getId()), null, true)?>"></button></td>
</tr>