<?php $this->headTitle('О системе'); ?>
	<div id="middle" class="clearfix">
		<!-- Container Start -->
		<div id="container">
			<!-- Content Start -->
			<div id="content-full">
				<div class="page">
					<div class="about">
						<div class="about-body clearfix">
							<div class="about-left">
								<h3>Новые возможности вашего бизнеса</h3>
								<h4>посредством смс-биллинга</h4>
								<p class="small">Смс биллинг возведет ваш бизнес на новую ступень развития. Используя короткие смс, вы сможете осуществлять продажу товаров и услуг на совершенно новом уровне: благодаря удобству и простоте работы с биллинг системами аудитория потенциальных покупателей увеличивается в десятки раз. Действительно мобильный телефон сейчас не редкость и есть практически у каждого потенциального покупателя, что посредством смс билинга во многом облегчает оплату товаров и услуг. Плюс ко всему, ваши клиенты получают дополнительную опцию оплаты товаров и услуг, что характеризует вас как прогрессивного бизнесмена.</p>
								<p class="small">Смс биллинг также широко используется в проведении TV-викторин, голосований в различного рода передачах (от молодежных реалити-шоу до серьезных политических программ). Если вы хотите поздравить с днем рождения друга хорошей песней по радио – нет ничего проще. Достаточно отправить смс на короткий телефонный номер. Таким образом, смс биллинг – прогрессивный способ оплаты любых товаров и услуг, доступный как для маленького Интернет-магазина, так и для популярного телевизионного канала. </p>
							</div>
							<div class="about-right">
								<h2>Что такое биллинг?</h2>
								<p>Смс биллинг - это способ оплаты товаров и услуг, посредством отправления на специальный короткий телефонный номер смс сообщения.</p>
								<p>Иными словами – биллинг – это наипростейший способ оплаты товаров и услуг по средствам телефонного номера на сегодняшний день.</p>
								<p>Как же происходит сам процесс оплаты? На самом деле это достаточно просто: когда вы отправляете короткое смс сообщение на телефонный номер, оператор снимает деньги с вашего счета. После этого платеж считается осуществленным. </p>
							</div>
						</div>
						<div class="services-list">
							<ul class="menu clearfix">
								<li class="item1 odd">
									<p class="services-info">Отправив короткое смс<br />на телефонный номер<br /><span>ваши клиенты<br />могут оплатить:</span></p>
								</li>
								<li class="item2 even">
									<p>продажу мобильного контента для телефонов и КПК (картинки, темы оформления, мелодии, видео, java-игры и т.д.)</p>
								</li>
								<li class="item3 odd">
									<p>проведение маркетинговых исследований, смс-опросов</p>
								</li>
								<li class="item4 even">
									<p>распространение серийных номеров к программам</p>
								</li>
								<li class="item5 odd">
									<p>продажу ссылок для загрузки электронных книг, музыки, фильмов, игр</p>
								</li>
								<li class="item6 even">
									<p>смс-голосование, викторины, конкурсы</p>
								</li>
								<li class="item7 odd">
									<p>предоставление сервисов смс-справки (курсы валют, маршруты транспорта и т.п.)</p>
								</li>
								<li class="item8 even">
									<p>организацию платного доступа к закрытым разделам сайта или форума</p>
								</li>
							</ul>
						</div>
						<div class="about-body clearfix">
							<div class="about-left-bottom">
								<p>Увеличение продаж по средствам смс биллинга реально как для физических, так и для юридических лиц (клубов, ресторанов, рекламных агентств, банков, служб доставки, страховых компаний).</p>
							</div>
							<div class="about-right-bottom">
								<p>Компания MicroSMS предлагает вашему вниманию выгодные условия сотрудничества. Мы поможем вам приумножить продажи товаров и услуг, используя смс биллинг.</p>
								<p class="big">Доверьтесь профессионалам и откройте новые возможности для вашего бизнеса вместе с нами.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Content End -->
		</div>
		<!-- Container End -->
	</div>