<?php $this->headTitle('Контакты'); ?>

	<div id="middle" class="clearfix">
		<!-- Container Start -->
		<div id="container">
			<!-- Content Start -->
			<div id="content-full">
				<div class="page">
					<div class="contacts">
						<div class="contacts-body clearfix">
                            <div class="contacts-left">
                                <p>Если Вы решили сотрудничать с нами или хотите предложить нам партнерство, тогда...бла-бла-бла и всё такое. Вы можете связаться с нами по нижеследующим телефонным номерам, либо отправить нам письмо по электронной почте или при помощи формы обратной связи.</p>
                            </div>
							<div class="contacts-right">
								<div class="contacts-right-body">
									<dl class="phone">
										<dt>Телефоны</dt>
										<dd><span>+7 (995)</span> 710-5445, 710-5540</dd>
									</dl>
									<dl class="mail">
										<dt>Электропочта</dt>
										<dd><script>function email() { return 'info' + '@micro' + 'sms' + '.' + 'ru'; } function mailto() { return 'mail' + 'to' + ':'; } document.write('<a href="' + mailto() + email() + '">' + email() + '</a>');</script></dd>
									</dl>
								</div>
								<div class="contacts-form">
									<div class="contacts-form-body">
										<h5>Вы можете отправить нам сообщение(письмо) прямо с нашего сайта, используя форму обратной связи</h5>
                                        <?php
                                            if (is_array($this->error)) {
                                                echo "<br />";
                                                foreach($this->error as $key => $error) {
                                                    if(!empty($key)) {
                                                        echo "<p><strong>" . $key . ":</strong> ";
                                                            if(is_array($error)){
                                                                foreach($error as $msg)  echo $msg . "<br />";
                                                            }
                                                        echo "</p>";
                                                    } else {
                                                        echo "<p><strong>" . $error . "</strong></p>";
                                                    }
                                                }
                                            }
                                        ?>
										<form action="" method="POST">
											<fieldset>
												<div class="inputbox-cont">
													<input type="text" class="inputbox" name="fio" id="fio" value="Ваше имя и фамилия..." onfocus="this.value=(this.value=='Ваше имя и фамилия...') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'Ваше имя и фамилия...' : this.value;" />
												</div>
												<div class="inputbox-cont">
													<input type="text" class="inputbox" name="contacts-info" id="contacts-info" value="Контактные данные для связи с вами..." onfocus="this.value=(this.value=='Контактные данные для связи с вами...') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'Контактные данные для связи с вами...' : this.value;" />
												</div>
												<div class="textarea-cont">
													<textarea cols="30" rows="5"></textarea>
												</div>
												<div class="captcha clearfix">
													<a href="#"><img src="/images/example_captcha.png" alt="captcha" /></a>
													<div class="inputbox-cont">
														<input type="text" class="inputbox" name="captcha" id="captcha" value="Введите защитный код..." onfocus="this.value=(this.value=='Введите защитный код...') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'Введите защитный код...' : this.value;" />
													</div>
												</div>
												<div class="clearfix">
													<input type="button" class="button" />
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Content End -->
		</div>
		<!-- Container End -->
	</div>