<div class="big_image"><img src="/images/big.png" alt=""></div>

<div class="news_main">

    <p class="header">
        НОВОСТИ
    </p>
<?php
function snippet($text, $length = 1, $tail = "...") {
    $text = trim($text);
    $txtl = mb_strlen($text, 'UTF-8');
    if ($txtl > $length) {
        $words = mb_split("(\.|\!|\?)", $text);
        $text = '';
        for ($i = 0; $i <= $length; $i++) {
            $text .= $words[$i];
        }
        $text .= $tail;
    }
    return $text;
}
foreach ($this->news as $news) {
    echo '
        <p class="news_date_main">' . $news['date'] . '</p>
        <p class="news_anons">
          <a href="/news/' . $news['id'] . '">' . snippet($news['text'], 2) . '</a>
        </p>';
}
?>

    <p class="news_archive">
        <a href="/news">архив новостей</a>
    </p>

</div>

<div class="tariff_panel"></div>

<div class="tariff">

    Выберите страну и получите полный список номеров нашей системы с тарифами на них:

    <div class="selectbox_container">

        <div class="selectbox">

            <select name="country" id="country">
               <option value="ru" selected="selected">Россия</option>
               <option value="kz">Казахстан</option>
               <option value="ua">Украина</option>
            </select>

        </div>

    </div>

    <input type="image" name="button" OnClick="javascript:window.location='/tariffs/' + $('#country').val();" class="country_button" src="/images/button2.png" alt="Выбрать" title="Выбрать">

    <p class="see_list"><a href="/tariffs">посмотреть в виде списка</a></p>

</div>

<div class="about_header">
    <span>О СИСТЕМЕ</span><span class="full_description"><a href="/page/about">Полное описание</a></span>
</div>

<div class="about">

    <table width="900" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="425">
                <p class="padding">content</p>
            </td>
            <td width="50">&nbsp;</td>
            <td width="425">
                <h1>title</h1>
                <br/>
                contents
            </td>
        </tr>
    </table>

</div>