<div class="info">
    <h2>Сводная статистика</h2>
    <div><img alt="" src="/images/icons/clipboard-invoice.png" /> Сводная статистика<span class="spacer"></span><img alt="" src="/images/icons/table.png" /> <a href="/detail">Детальная статистика</a></div>
</div>

<?php
if($this->form->isErrors()) {
    #echo $this->formErrors($this->form->getMessages());
    echo '<div class="error"><h3>Ошибка заполнения формы, проверьте следующие поля:</h3><p>';
    foreach($this->form->getMessages() as $field => $errors) {
        echo '<strong>' . $this->form->{$field}->getLabel() . '</strong> ';
    }
    echo '</p></div>';
}
?>
<button type="button" id="filter"><img alt="" src="/images/icons/ui-search-field.png" /> Параметры просмотра</button>
<br />
<div class="fieldset">
    <form action="<?= $this->escape($this->form->getAction()) ?>" method="<?= $this->escape($this->form->getMethod()) ?>">
        <ul>
            <li class="date leftHalf">
                <label for="datefrom_d" class="desc">С какой даты</label>
                <span>
                    <?= $this->form->fromd ?>
                </span>
                <span class="symbol">-</span>
                <span>
                    <?= $this->form->fromm ?>
                </span>
                <span class="symbol">-</span>
                <span>
                    <?= $this->form->fromy ?>
                </span>
                <span>
                    <img alt="Выбрать дату" src="/images/icons/calendar.png" class="datepicker" id="datefrom">
                </span>
            </li>


            <li class="date rightHalf">
                <label for="dateto_d" class="desc">По какую дату</label>
                <span>
                    <?= $this->form->tod ?>
                </span>
                            <span class="symbol">-</span>
                <span>
                    <?= $this->form->tom ?>
                </span>
                            <span class="symbol">-</span>
                <span>
                    <?= $this->form->toy ?>
                </span>
                <span>
                    <img alt="Выбрать дату" src="/images/icons/calendar.png" class="datepicker" id="dateto">
                </span>
            </li>

            <li class="complex">
                <div>
                    <span class="left">
                        <?= $this->form->country ?>
                    </span>
                    <span class="right">
                        <?= $this->form->operator ?>
                    </span>
                    <span class="left">
                        <?= $this->form->number ?>
                    </span>
                    <span class="right">
                        <?= $this->form->service ?>
                    </span>
                    <span class="left">
                        <?= $this->form->prefix ?>
                    </span>
                    <span class="right">
                        <?= $this->form->abonent ?>
                    </span>
                </div>
            </li>
            <li class="buttons">
                <button type="button" onclick="javascript:$('.fieldset > form').clearForm();$('.fieldset > form').submit();"><span class="ui-icon ui-icon-close"></span> Сбросить</button>
                <button type="submit"><span class="ui-icon ui-icon-check"></span> Показать</button>
            </li>
        </ul>
    </form>
</div>
<br />
<div class="ui-grid ui-widget">
    <table id="table" class="ui-grid-content ui-widget-content">
        <thead>
        <tr>
            <th class="ui-state-hover">Дата</th>
            <th class="ui-state-hover">Доход, RUR</th>
            <th class="ui-state-hover">Сообщений, ОК</th>
            <th class="ui-state-hover">Сообщений, Ошибок</th>
        </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="ui-widget-header">&nbsp;</th>
                <th class="ui-widget-header"><?=$this->items['count']['sum']?></th>
                <th class="ui-widget-header"><?=$this->items['count']['ok']?></th>
                <th class="ui-widget-header ui-state-error-text"><?=$this->items['count']['error']?></th>
            </tr>
        </tfoot>
        <tbody>
        <?=$this->partialLoop('stats/row.phtml', $this->items['result']);?>
        </tbody>
    </table>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("#filter").button().click(function() {
        $('.fieldset').slideToggle(200);
    });
    $("li.buttons > button").each(function(){
        $(this).button();
    });
    $("#table").grid();
    try {
        stats.datepicker();
    }catch(e){}
});
</script>