<tr class="<?=(!$this->getHelper('PartialLoop')->view->altrow ^= 1) ? 'alt' : ''?>">
    <td class="ui-widget-content" style="text-align:center"><a href="<?=$this->url(array('controller' => 'detail'), null, true)?>"><?=$this->date?></a></td>
    <td class="ui-widget-content"><?=$this->cost?></td>
    <td class="ui-widget-content"><?=$this->ok?></td>
    <td class="ui-widget-content ui-state-error-text"><?=$this->error?></td>
</tr>