@charset "utf-8";

/* fonts */
@font-face {
  font-family: 'Linux Libertine';
  src: url('/font/lin-libertine-min.eot');
  src: local('Linux Libertine'), url('/font/lin-libertine-min.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
	font-family: 'RomanCapsRegular';
	src: url('/font/Roman_SD-webfont.eot');
	src: local('☺'), url('/font/Roman_SD-webfont.woff') format('woff'), url('/font/Roman_SD-webfont.ttf') format('truetype'), url('/font/Roman_SD-webfont.svg#webfontMqbh8gR1') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FreeSansMedium';
	src: url('freesans-webfont.eot');
	src: local('☺'), url('freesans-webfont.woff') format('woff'), url('freesans-webfont.ttf') format('truetype'), url('freesans-webfont.svg#webfontSQtBqfoY') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font: 12px 'FreeSansMedium,RomanCapsRegular,Linux Libertine', Arial;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: inherit; /* triggers 100% height in Opera 9.5 */
}

div.humanized-message{
	position: absolute;
	text-align: center;
	width: 70%;
	min-height: 20px;
	_height: 20px;
	background: #000;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
	color: #fff;
	z-index: 100000;
	padding: 20px;
	font-size: 30px;
	visibility: hidden;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

#globalmask{
    width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#000;
	opacity:0.4;
	filter:alpha(opacity=0.4);
	z-index:100000;
}

#preloader{
	background: url("/images/preloader.gif") no-repeat 12px 10px #000000;
	font-size: 11px;
	height: 20px;
    color: #fff;
	left: 50%;
	line-height: 20px;
	margin: -20px 0 0 -45px;
	padding: 10px;
	position: fixed;
	text-align: left;
	text-indent: 36px;
	top: 50%;
	width: 100px;
	z-index: 100001;
	opacity:0.8;
	filter:alpha(opacity=0.8);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

img {
    border: 0px;
}

#header {
    color: #fff;
    background: url('/images/top_bar_bg.jpg') repeat scroll 0 0 #292929;
    border-bottom: 1px solid #222222;
    height: 110px;
    text-decoration: none;
}

#logout {
    vertical-align: middle;
    display: inline-block;
    background: transparent url('/images/icons/logout.png') no-repeat center center;
    width: 16px;
    height: 20px;
    margin-left: 10px;
}
#logout:hover {
    background: transparent url('/images/icons/logout_hover.png') no-repeat center center;
}

#logo {
    position: absolute;
    right: 10px;
    top: 0px;
}

#contacts span {
    display: block;
    padding-left: 5px;
    font-size: 10px;
}

#container {
    margin: 0 auto;
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
    margin-bottom: -25px;
    overflow: hidden;
}

* html #container { 
    height: 100%; /* IE6 treats height as min-height */
}

#content {
    color: #000;
    padding: 10px 5px;
}

#menu {
    padding: 4px 0 4px 10px;
    background-color: #2f2e2f;
    border-bottom: 1px solid #222;
}

#menu > #login {
    position: relative;
    float: right;
    color: #fff;
    padding: 3px 15px 3px 3px;
}

#footer {
    height: 14px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #222222;
    background-color: #2f2e2f;
	position: relative;
	width: 100%;
	bottom: 0; /* stick to bottom */
    padding: 5px 0px 5px 0px;
}

h1 {
	font-weight: normal;
	font-size: 30px;
	padding-top: 35px;
    text-align: center;
    text-shadow:1px 1px 0 #FCFCFC;
	opacity: 0.8;
	filter: alpha(opacity=0.8);
}

#panel {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 260px;
    height: 100px;
}

#stats {
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 0 0 15px;
    text-align: left;
    width: 250px;
    height: 100px;
    /*border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	opacity: 0.5;
	filter: alpha(opacity=0.5);*/
}

#stats span {
    font-weight: bolder;
    font-size: 15px;
}

a, a:visited {
    color: #c70000;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.clear_page {
    clear: both;
    height: 20px;
}

/* Копки меню */
a.button {
    display: inline-block;
    background: url('/images/buttons.png') no-repeat;
    color: #fff;
    position: relative;
    height: 22px;
    line-height: 22px;
    margin-right: 15px;
    padding: 0px 10px 0px 15px;
    text-decoration: none;
    border: none;
}

a.button:hover {
    text-decoration: none;
}

a.button:last-child {
    margin-right: 0;
}

a.button span {
    position: absolute;
    top: 0;
    right: -5px;
    background: url('/images/buttons.png') no-repeat;
    width: 5px;
    height: 22px
}

a.red {
    background-position: left top;
    text-shadow: 1px 1px 0 #5889a2;
}

a.red span {
    background-position: -195px 0;
}

a.red:hover {
    background-position: left bottom;
}

a.red:hover span {
    background-position: -195px bottom;
}

a.gray {
    background-position: -200px top;
    text-shadow: 1px 1px 0 #707070;
}

a.gray span {
    background-position: -395px 0;
}

a.gray:hover {
    background-position: -200px bottom;
}

a.gray:hover span {
    background-position: -395px bottom;
}

/* Заголовок раздела и подменю */
.info {
	display: inline-block;
	margin:0 0 5px 0;
	padding:0 1% 5px 1%;
	border-bottom:1px dotted #ccc;
}
.info img {
    vertical-align: middle;
    padding-right: 5px;
}
.info[class]{
	display:block;
}
.info h2{
    letter-spacing: 5px;
	font-weight:normal;
	font-size:160%;
	margin:0 0 5px 0;
	clear:left;
    color: #333;
}
.info div {
	color:#666;
}
.info div span.spacer {
    margin: 0px 15px 0px 15px;
    vertical-align: middle;
    border-left: 1px dotted #ccc;
}

/* Текстовый контент */
div.text {
    margin: 0px;
    padding: 10px;
    border: 1px dotted #666;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Таблица */
.table {
    width: 100%;
    margin: 15px 0px;
    background-color: #fff;
	border: 1px solid #666;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.table th.header {
    background: transparent url(/images/table_header.png) center left repeat-x;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    color: #fff;
    text-shadow: 1px 1px 0 #707070;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.table th.header:hover {
    background: transparent url(/images/table_header_sort.png) center left repeat-x;
}
.table th.header img {
    position: relative;
    right: -20px;
    vertical-align: middle;
}
.table tbody tr.even{
	background-color: #cccccc;
}
.table tbody td {
    padding: 3px;
    text-align: left;
}
.table tbody tr {
    border: 1px solid #666;
}
.table tbody tr:hover {
    background-color: #faebd7;
}
.table tfoot tr {
    background-color: #333;
    text-align: right;
    color: #fff;
}
.table tfoot tr th {
    font-weight: bolder;
    padding: 5px;
}
.table tfoot tr th span {
    width: 155px;
    font-weight: bold;
    padding: 1px 5px 1px 5px;
    background-color: transparent;
    border: 1px solid #fff;
}
.table td.center {
    text-align: center;
}
.table td.action span.spacer {
    padding: 0px 2%;
}
.table tbody.aright tr td {
    text-align: right;
}
.smalltable {
    width: 100%;
	border-bottom: 1px solid #666;
}
.smalltable td.header {
    width: 200px;
    font-weight: bold;
    vertical-align: middle;
}
.smalltable tbody tr.even{
	background-color: #cccccc;
}
.smalltable tbody td {
    padding: 3px;
    text-align: right;
}
.smalltable tbody tr {
    border: 1px solid #666;
}
.smalltable td {
    text-align: right;
}
.smalltable tr td {
    border-bottom: 1px solid #ccc;
}
.smalltable tr td.tdleft {
    text-align: left;
    border-left: 1px solid #ccc;
}

.navigation {
    float: right;
    display: inline-block;
}
.navigation span {
    display: inline-block;
    padding: 1px 5px 1px 5px;
}
.navigation a {
    width: 255px;
    padding: 1px 5px 1px 5px;
    border: 1px solid #fff;
    background-color: #fff;
}
.navigation a:hover {
    text-decoration: none;
    width: 255px;
    padding: 1px 5px 1px 5px;
    border: 1px solid #fff;
    background-color: #ccc;
}

.icon-warning {
    background-image: url('/images/icons/warning.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	width: 48px;
	height: 48px;
}

.icon-error {
    background-image: url('/images/icons/error.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	width: 48px;
	height: 48px;
}

.icon-info {
    background-image: url('/images/icons/info.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	width: 48px;
	height: 48px;
}

.icon-success {
    background-image: url('/images/icons/success.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	width: 48px;
	height: 48px;
}

/* Custom styled notice CSS */
.ui-pnotify {
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-weight: normal;
    text-shadow: 1px 1px 0.5px black;
}
.ui-pnotify .ui-pnotify-container {
    background-color: #666;
    background-image: none;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.ui-pnotify .ui-pnotify-title {
    font-size: 12pt;
    color: #FFF;
}
.ui-pnotify .ui-pnotify-text {
    font-size: 10pt;
    color: #FFF;
}
.ui-pnotify .ui-pnotify-closer {
    color: #ff0000;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.ui-pnotify .ui-pnotify-icon {
    color: #ff0000;
    float: left;
}

.sortable {
    cursor: pointer;
}

/* tariffs */
td.tariffs {
    border-right: 1px solid #ccc;
}
td.tariffs span {
    position: relative;
    display: inline-block;
    padding: 3px 0 3px 0;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
td.tariffs a {
    display: inline-block;
    padding: 3px 5px;
    margin-left: 10px;
    font-weight: normal;
}

/* Grid */
.ui-grid { width: 100%; background-image: none; }
.ui-grid .ui-grid-content { width: 100%; border-collapse: collapse; }
.ui-grid .ui-grid-content .ui-widget-content button { margin: 0 5%; }
.ui-grid table tbody td, .ui-grid .ui-grid-header { padding: .4em;  }
.ui-grid table tbody td { text-align: right; font-weight: normal;  }
.ui-grid table tbody tr.alt td { background: #dcdcdc; }
.ui-grid table tbody tr:hover td { background: #faebd7; }
.ui-grid table tfoot th { font-weight: bold; text-align: right; padding-right: 5px; }
.ui-grid .ui-grid-header, .ui-grid .ui-grid-footer { padding: .8em .4em; text-align: center; }
.ui-grid .ui-grid-footer { background-image: none; font-weight: normal; text-align: left; border-top: 0px; }
.ui-grid table thead th { height: 25px; }
.ui-grid .ui-icon { float: right; }
.ui-grid .ui-grid-paging { float: right; }
.ui-grid .ui-grid-paging-prev { float: left; width: 16px; height: 16px; }
.ui-grid .ui-grid-paging-next { float: right; width: 16px; height: 16px; }
.ui-grid .ui-grid-results { color: #555; font-weight: bold; padding-left: 10px; }


/* Сообщения об ошибках */
.error {
    width: 100%;
    margin: 3px 10px 5px 0;
    background-color: #FFDFDF !important;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    text-align: center;
    padding: 5px 0 5px 0;
}

.error h3 {
    margin: 0 0 5px 0;
    padding: 0;
    color: #DF0000 !important;
}

.error p {
    margin: 0 0 2px 0;
    color: #000 !important;
}

.error p strong {
    padding: 2px 8px;
    background-color: #DF0000 !important;
    color: #fff !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

ul.errors {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.errors li {
    width: 100%;
    margin-top: 3px;
    background-color: #FFDFDF !important;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    text-align: center;
    padding: 5px 0 5px 0;
}

ul.errors li h3 {
    margin: 0 0 5px 0;
    padding: 0;
    color: #DF0000 !important;
}

ul.errors li p {
    margin: 0 0 2px 0;
    color: #000 !important;
}

ul.errors li p strong {
    padding: 2px 8px;
    background-color: #DF0000 !important;
    color: #fff !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ui-search-field-primary {
    background: transparent url('/images/icons/ui-search-field.png') no-repeat center center;
}

/* Кнопки для форм *
button {
    background: transparent url(/images/table_header.png) center left repeat-x;
    cursor: pointer;
    padding: 0 15px 0 15px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    color: #fff;
    text-shadow: 1px 1px 0 #707070;
    border: 0;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

button img {
    vertical-align: middle;
}

button:hover {
    background: transparent url(/images/table_header_sort.png) center left repeat-x;
}
*/

.ui-button-text img {
    padding: 0px;
    margin: 0px;
    text-align: left;
    vertical-align: middle;
}

/* Формы */
.fieldset {
    display: none;
    width: 500px;
    margin-top: 10px;
    border: 1px dotted #666;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.filter {
    cursor: pointer;
    padding: 5px;
    border: 1px dotted #666;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background-color: #fff;
}

form {
    margin: 0 14px 14px 14px;
    padding: 0;
    position: relative;
}

img, a img {
    border: none;
    -ms-interpolation-mode: bicubic;
}

.confirm {
    text-align: center;
}

.confirm h2 {
    font-weight: normal;
    font-size: 160%;
    margin: 0 0 .2em 0;
    line-height: 135%;
    color: #222;
    margin: 0 1em;
    padding: 70px 0 80px 0;
}

.embed .confirm h2 {
    padding-bottom: 50px;
}

.confirm div {
    text-align: justify;
}

.confirm div p {
    font-size: 120%;
    line-height: 160%;
    margin: 0 10px 1.5em 10px;
}

form ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

form li {
    margin: 0;
    padding: 6px 1% 9px 1%;
    clear: both;
    background-color: transparent;
    position: relative;
    -webkit-transition: background-color 350ms ease-out;
    -moz-transition: background-color 350ms ease-out;
    -o-transition: background-color 350ms ease-out;
    transition: background-color 350ms ease-out;
}

form ul:after, form li:after, form li div:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

form li {
    height: 1%;
    margin-bottom: -3px;
}

form li {
    height: 1%;
    margin-bottom: -3px;
}

form li div {
    display: inline-block;
}

form ul, *+html form li div {
    display: inline-block;
}

form li div {
    margin: 0;
    padding: 0;
    color: #444;
}

form li span {
    margin: 0 .3em 0 0;
    padding: 0;
    float: left;
    color: #444;
}

form li div span {
    margin: 0;
    display: block;
    width: 100%;
    float: left;
}

li.twoColumns div span {
    width: 48%;
    margin: 0 5px 0 0;
}

li.threeColumns div span {
    width: 30%;
    margin: 0 5px 0 0;
}

li.notStacked div span {
    width: auto;
    margin: 0 7px 0 0;
}

form li.complex {
    padding-bottom: 0;
}

form li.complex div span {
    width: auto;
    margin: 0 .3em 0 0;
    padding-bottom: 12px;
}

form li.complex div span.full {
    margin: 0;
}

form li.complex div span.left, form li.complex div span.right {
    margin: 0;
    width: 48%;
}

form li.complex div span.full input, form li.complex div span.full select, form li.complex div span.left input, form li.complex div span.right input, form li.complex div span.left select, form li.complex div span.right select {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both !important;
}

label span, .section span, p span, .likert span {
    display: inline !important;
    float: none !important;
}

.rtl .info h2, .rtl .info div, .rtl label.desc, .rtl label.choice, .rtl div label, .rtl span label, .rtl input.text, .rtl textarea.textarea, .rtl select.select, .rtl p.instruct, .rtl .section h3, .rtl .section div, .rtl input.btTxt {
    direction: rtl;
}

form li div label, form li span label {
    margin: 0;
    padding-top: 3px;
    clear: both;
    font-size: 85%;
    line-height: 160%;
    color: #444;
    display: block;
}

label.desc {
    font-size: 95%;
    font-weight: bold;
    color: #222;
    line-height: 150%;
    margin: 0;
    padding: 0 0 3px 0;
    border: none;
    display: block;
}

label.choice {
    display: block;
    font-size: 100%;
    line-height: 150%;
    margin: -17px 0 0 23px;
    padding: 0 0 5px 0;
    color: #222;
    width: 88%;
}

.safari label.choice {
    margin-top: -16px;
}

form.rightLabel label.desc {
    padding-top: 2px;
}

span.symbol {
    font-size: 120%;
    line-height: 135%;
}

form li .datepicker {
    float: left;
    margin: .19em 5px 0 0;
    padding: 0;
    width: 16px;
    height: 16px;
    cursor: pointer !important;
}

form span.req {
    display: inline;
    float: none;
    color: red !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

form li div label var {
    font-weight: bold;
    font-style: normal;
}

form li div label .currently {
    display: none;
}

input.text, input.search, input.file, textarea.textarea, select.select {
    font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
    font-size: 100%;
    color: #333;
    margin: 0;
    padding: 2px 0;
}

input.text, input.search, select.select, textarea.textarea {
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
    background: #fff url(/images/fieldbg.gif) repeat-x top;
}

select.select {
    padding: 1px 0 0 0;
}

input.search {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-left: 6px;
}

input.checkbox, input.radio {
    display: block;
    margin: 4px 0 0 0;
    padding: 0;
    width: 13px;
    height: 13px;
}

li.checkboxlist {
    display: block;
}

li.checkboxlist label.desc {
    margin: 0px;
}

li.checkboxlist label {
    position: relative;
    text-align: left;
    margin-top: 5px;
    display: block;
}

li.checkboxlist label input {
    position: relative;
    display: block;
    float: left;
    margin-right: 5px;
}

input.other {
    margin: 0 0 8px 25px;
}

.safari select.select {
    font-size: 120% !important;
    margin: 0 0 1px 0;
}

select.select {
    margin: 1px 0;
}

select.select {
    margin: 1px 0;
}

.center, form li span.center input.text, form li span.center label, form li.name span label, form li.date input.text, form li.date span label, form li.phone input.text, form li.phone span label, form li.time input.text, form li.time span label {
    text-align: center;
}

.third {
    width: 32% !important;
}

.half {
    width: 48% !important;
}

.full {
    width: 100% !important;
}

input.small, select.small {
    width: 25%;
}

input.medium, select.medium {
    width: 50%;
}

input.large, select.large, textarea.textarea {
    width: 100%;
}

.msie[class] select.ieSelectFix {
    width: auto;
}

.msie[class] select.ieSelectFix.small {
    min-width: 25%;
}

.msie[class] select.ieSelectFix.medium {
    min-width: 50%;
}

.msie[class] select.ieSelectFix.large {
    width: 100%;
}

textarea.small {
    height: 5.5em;
}

textarea.medium {
    height: 10em;
}

textarea.large {
    height: 20em;
}

li.buttons {
    text-align: right;
    margin: 0;
    padding: 0;
}

.leftLabel li, .rightLabel li {
    width: 74% !important;
    padding-top: 9px;
}

.leftLabel label.desc, .rightLabel label.desc {
    float: left;
    width: 31%;
    margin: 0 15px 0 0;
}

.rightLabel label.desc {
    text-align: right;
}

.leftLabel li div, .rightLabel li div {
    float: left;
    width: 65%;
}

.leftLabel p.instruct, .rightLabel p.instruct {
    width: 28%;
    margin-left: 5px;
}

.leftLabel .altInstruct .instruct, .rightLabel .altInstruct .instruct {
    margin-left: 31% !important;
    padding-left: 15px;
    width: 65%;
}

form li.leftHalf, form li.rightHalf {
    width: 47% !important;
}

form li.leftThird, form li.middleThird, form li.rightThird {
    width: 30% !important;
}

form li.leftHalf, form li.leftThird {
    clear: left !important;
    float: left;
}

form li.middleThird {
    clear: none !important;
    float: left;
    width: 30% !important;
    margin-left: 2% !important;
}

form li.rightHalf, form li.rightThird {
    clear: none !important;
    float: right;
}

li.leftHalf .small, li.rightHalf .small, li.leftHalf .medium, li.rightHalf .medium, li.leftThird .small, li.middleThird .small, li.rightThird .small, li.leftThird .medium, li.middleThird .medium, li.rightThird .medium {
    width: 100%;
}

form li.focused {
    background-color: #fff7c0;
}

form li.error {
    display: block !important;
    background-color: #FFDFDF !important;
    margin-bottom: 3px !important;
}

form li label.error, form li input.error {
    color: #DF0000 !important;
    font-weight: bold !important;
}

form li input.error {
    background: #fff !important;
    border: 2px solid #DF0000 !important;
}

form li.error label, form li.error span.symbol {
    color: #000 !important;
}

form li.error label.desc {
    color: #DF0000 !important;
}

form p.error {
    display: none;
    margin: 0 !important;
    padding: 7px 0 0 0 !important;
    line-height: 10px !important;
    font-weight: bold;
    font-size: 11px;
    color: #DF0000 !important;
    clear: both;
}

form li.error p.error {
    display: block;
}

form li.complex p.error {
    padding: 0 0 9px 0 !important;
}

/* Дата */
table.jCalendar {
	border: 1px solid #666;
    background-color: #fff;
    border-collapse:separate;
    border-spacing:0px;
}
table.jCalendar th {
    background: transparent url(/images/table_header.png) center left repeat-x;
    cursor: pointer;
    padding: 0 5px 0 5px;
    height: 22px;
    line-height: 22px;
	color: #fff;
}

table.jCalendar th.weekend {
    background: transparent url(/images/table_header_sort.png) center left repeat-x;
    cursor: pointer;
    padding: 0 5px 0 5px;
    height: 22px;
    line-height: 22px;
	color: #fff;
}

table.jCalendar td {
	background: #ccc;
	color: #000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #666;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #bbb;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}

/* For the popup */
div.dp-popup {
	position: relative;
	background: #666;
    color: #fff;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
    font-weight: bold;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #DF0000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
a.dp-nav-prev-year {
    width: 16px;
    height: 16px;
    background: transparent url(/images/icons/prev-year.png) center center no-repeat;
}
a.dp-nav-next-year {
    width: 16px;
    height: 16px;
    background: transparent url(/images/icons/next-year.png) center center no-repeat;
}
a.dp-nav-prev-month {
    width: 16px;
    height: 16px;
    background: transparent url(/images/icons/prev-month.png) center center no-repeat;
}
a.dp-nav-next-month {
    width: 16px;
    height: 16px;
    background: transparent url(/images/icons/next-month.png) center center no-repeat;
}

/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}}