<?php
function snippet($text, $length = 1, $tail = "...") {
    $text = trim($text);
    $txtl = mb_strlen($text, 'UTF-8');
    if ($txtl > $length) {
        $words = mb_split("(\.|,|\!|\?)", $text);
        $text = '';
        for ($i = 0; $i <= $length; $i++) {
            $text .= $words[$i];
        }
        $text .= $tail;
    }
    return $text;
}
?>
<div id="middle" class="clearfix">
		<!-- Container Start -->
		<div id="container">
			<!-- Content Start -->
			<div id="content-full">
				<div class="page">
					<div class="main-page">
						<div class="main-page-body">
							<div class="main-news">
								<h3>НОВОСТИ</h3>
                                <?php foreach ($this->news as $news): ?>
								<div class="main-news-item">
									<p class="date"><?=$news->date?></p>
									<h4><a href="/news/<?=$news->id?>"><?=snippet($news->text, 1)?></a></h4>
								</div>
                                <?php endforeach; ?>
								<p class="archive-news"><a href="<?=$this->url(array('controller'=>'news'));?>">архив новостей</a></p>
							</div>
							<div class="country-select">
                                <form action="" method="POST">
                                    <fieldset>
                                        <label for="country-select">Выберите страну и получите полный список номеров нашей системы с тарифами на них:</label>
                                        <div class="clearfix">
                                            <div class="selectbox-body">
                                                <select id="country-select" class="selectbox">
                                                    <?php foreach($this->countries as $country): ?>
                                                    <option value="<?=$country->code?>"><?=$country->name?></option>
                                                    <?php endforeach; ?>
                                                </select>
                                            </div>
                                            <input type="button" class="button" onclick="javascript:$(function(){window.location='/tariffs/'+$('#country-select').val();});" />
                                        </div>
                                        <p class="watch-list"><a href="/tariffs">посмотреть в виде списка</a></p>
                                    </fieldset>
                                </form>
							</div>
						</div>
						<div class="about-system">
							<div class="about-system-heading">
								<h2>О СИСТЕМЕ</h2>
								<p class="full-about-system"><a href="/page/about">Полное описание</a></p>
							</div>
							<div class="about-system-body clearfix">
								<div class="about-system-left">
									<p>Мы предлагаем самый удобный и простой вариант оплаты Ваших услуг посредством отправки СМС на короткие номера. С помощью коротких СМС-номеров Вы сможете организовать продажу мобильного контента, провести викторины, голосования и многое другое.</p>
								</div>
								<div class="about-system-right">
									<h4>Мобильные сервисы – одна из самых доходных ниш в электронном бизнесе.</h4>
									<p>Наверняка Вы не раз видели сообщения: «Отправь СМС с текстом XXX на номер YYY и …». Мы даем Вам возможность арендовать короткие номера для оплаты заказов Вашими пользователями, а Вы можете использовать данную услугу для получения прибыли от продажи контента, проведения викторин или предоставления доступа к закрытым разделам Вашего ресурса.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Content End -->
		</div>
		<!-- Container End -->
	</div>
