<?php echo $this->doctype() ?>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->headMeta() ?>

<?php echo $this->headTitle() ?>

<?php echo $this->headLink() ?>

<?php echo $this->headStyle() ?>

<!--[if (gte IE 6)&(lte IE 7)]>
<link href="/css/ie.css" rel="stylesheet" type="text/css" media="screen" />
<![endif]-->

<!--[if IE 6]>
<link href="/ie6/arwm_ie6.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/ie6/arwm_ie6.js"></script>
<![endif]-->

<?php echo $this->headScript() ?>

</head>
<?php $c = Zend_Controller_Front::getInstance()->getRequest()->getControllerName(); ?>
<body<?=(($c=='index') ? ' class="main"' : '')?>>

<div id="loader-mask"></div>
<div id="loader">
    <div class="loader-indicator"><br/><span id="loader-msg">Загрузка интерфейса...</span></div>
</div>

<!-- Wrapper Start -->
<div id="wrapper">
	<!-- Header Start -->
	<div id="header">
		<div class="logo">
            <a href="/">Главная страница</a>
            <div style='padding-left:5px;padding-top:5px;'><span style='color:white;font: 9px "DejaVu Sans";'>icq: 212-173<span style='padding-left:40px'> </span>e-mail: info@microsms.ru<br/>Тел. +7 963 999 99 61 (пн.-вс. с 10 до 19)</span></div>
        </div>
		<div class="header-menu">
			<ul class="menu">
				<li class="item1"><a href="/index/redirect/to/registration">Регистрация</a></li>
				<li class="item2"><a href="/index/redirect/to/login">Войти</a></li>
				<li class="item3"><a href="/index/redirect/to/lost">Восстановить пароль</a></li>
			</ul>
		</div>
		<div class="login-block">
			<form action="#">
				<fieldset class="clearfix">
					<div class="inputbox-cont">
						<input type="text" class="inputbox" name="login" id="login" value="Логин..." onfocus="this.value=(this.value=='Логин...') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'Логин...' : this.value;" />
					</div>
					<div class="inputbox-cont">
						<input type="password" class="inputbox" name="password" id="password" value="Пароль..." onfocus="this.value=(this.value=='Пароль...') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'Пароль...' : this.value;" />
					</div>
					<input type="button" value="Войти" class="button" />
				</fieldset>
			</form>
		</div>
	</div>
	<!-- Header End -->
	<!-- Mainnav Start -->
	<div id="mainnav">
		<ul class="menu clearfix">
			<li><a href="/page/about">О системе</a></li>
			<li><a href="/tariffs">Тарифы</a></li>
			<li><a href="/page/contacts">Контакты</a></li>
		</ul>
        <?php if($c!=='index'): ?>
		<div class="main-heading">
			<h1><?php $title = array_reverse(explode($this->headTitle()->getSeparator(), strip_tags($this->headTitle())));
                 array_pop($title); echo implode($this->headTitle()->getSeparator(), array_reverse($title)); ?>
            </h1>
		</div>
        <?php endif; ?>
	</div>
	<!-- Mainnav End -->
	<!-- Middle Start -->
        <?php echo $this->layout()->content ?>
	<!-- Middle End -->
</div>
<!-- Wrapper End -->
<!-- Footer Start -->
<div id="footer">
	<div id="footer-in1">
		<div class="company">
			<!--a href="#">DM IT-Company</a-->
		</div>
		<div class="footer-menu">
			<ul class="menu clearfix">
				<li><a href="/">Главная</a></li>
				<li><a href="/news">Новости</a></li>
				<li><a href="/page/about">О системе</a></li>
				<li><a href="/tariffs">Тарифы</a></li>
				<li><a href="/page/contacts">Контакты</a></li>
			</ul>
		</div>
		<p class="copyright">Copyright 2011 Micro SMS. Все права защищены.</p>
	</div>
</div>
<!-- Footer End -->

<script type="text/javascript">
    jQuery(function($) {
        //$("img").pngfix();
        $('#loader').remove();
        $('#loader-mask').fadeOut();
    });
</script>

</body>
</html>