<?php echo $this->doctype() ?>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->headMeta() ?>

<?php echo $this->headTitle() ?>

<?php echo $this->headLink() ?>

<?php echo $this->headStyle() ?>

<?php echo $this->headScript() ?>
<style type="text/css">
.ui-corner-all {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    behavior: url(/pie/PIE.htc);
}
</style>
</head>
<body><div id="globalmask"></div><div id="preloader">Ожидайте...</div>
<div id="container">
<?php
    function getMenu($names) {
        $c = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
        if(in_array($c, $names)) return 'red';
        return 'gray';
    }
?>
<div id="header">
    <div id="logo">
        <a href="/"><img src="/images/logo.png" alt="www.microsms.ru" /></a>
        <br/>
        <div id='contacts'>
            <span>icq: 212-173<span style='padding-left:50px'> </span>e-mail: info@microsms.ru</span>
            <span>Тел. +7 963 999 99 61 (пн.-вс. с 10 до 19)</span>
        </div>
    </div>
</div>

<div id="menu">
    <a class="button <?= getMenu(array('index')) ?>" href="/">Авторизация<span></span></a>
    <span id="login">Здравствуйте, Гость!</span>
</div>

<div id="content">
    <div class="error"><h3>ВНИМАНИЕ!</h3>Платформа работает в тестовом режиме</div>
    <div id="window-login" style="position:absolute;"><?php echo $this->layout()->content ?></div>
</div>
<div class="clear_page"></div>
</div>
<div id="footer">Биллинговая платформа www.microsms.ru &copy; 2011 Все права защищены <!--ООО "Интерактивные Технологии"--></div>
<script type="text/javascript">
$(function(){
    loader.hide();
    <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');
    if ($flashMessenger->setNamespace('error')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
        $.pnotify({
            pnotify_title: "Ошибка",
            pnotify_text: "<?php echo $msg ?>",
            pnotify_error_icon: 'picon icon-error',
            pnotify_history: false,
            pnotify_nonblock: true,
            pnotify_type: 'error'
        });
        $(window).humanMsg('<?php echo $msg ?>', {autoHide: false});
        <?php endforeach; ?>
    <?php endif; ?>
    <?php if ($flashMessenger->setNamespace('warning')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
        $.pnotify({
            pnotify_title: "Предупреждение",
            pnotify_text: "<?php echo $msg ?>",
            pnotify_error_icon: 'picon icon-warning',
            pnotify_history: false,
            pnotify_nonblock: true,
            pnotify_type: 'error'
        });
        $(window).humanMsg('<?php echo $msg ?>', {autoHide: false});
        <?php endforeach; ?>
    <?php endif; ?>
    <?php if ($flashMessenger->setNamespace('info')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
        $.pnotify({
            pnotify_title: "Информация",
            pnotify_text: "<?php echo $msg ?>",
            pnotify_error_icon: 'picon icon-info',
            pnotify_history: false,
            pnotify_nonblock: true,
            pnotify_type: 'error'
        });
        $(window).humanMsg('<?php echo $msg ?>', {autoHide: false});
        <?php endforeach; ?>
    <?php endif; ?>
    <?php if ($flashMessenger->setNamespace('success')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
        $.pnotify({
            pnotify_title: "Выполнено",
            pnotify_text: "<?php echo $msg ?>",
            pnotify_error_icon: 'picon icon-success',
            pnotify_history: false,
            pnotify_nonblock: true,
            pnotify_type: 'error'
        });
        $(window).humanMsg('<?php echo $msg ?>', {autoHide: false});
        <?php endforeach; ?>
    <?php endif; ?>
});
</script>

</body>
</html>