<?php echo $this->doctype() ?>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->headMeta() ?>

<?php echo $this->headTitle() ?>

<?php echo $this->headLink() ?>

<?php echo $this->headStyle() ?>

<?php echo $this->headScript() ?>
<style type="text/css">
.ui-corner-all {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    behavior: url(/pie/PIE.htc);
}
</style>
</head>
<body><div id="globalmask"></div><div id="preloader">Ожидайте...</div>
<div id="container">
<?php
    $status = new Core_Model_Summarystats();
    $today = $status->getStats('today');
    $yesterday = $status->getStats('yesterday');
    $week = $status->getStats('week');
    $lastweek = $status->getStats('lastweek');

    function getMenu($names) {
        $c = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
        if(in_array($c, $names)) return 'red';
        return 'gray';
    }
?>
<img src="/images/glass.png" alt="" id="panel" />
<div id="stats">
    <span>Заработано: <?= Zend_Auth::getInstance()->getIdentity()->balance ?> руб.</span><br />
    сегодня: <?= $today ?> руб.<br />
    вчера: <?= $yesterday ?> руб.<br />
    эту неделю: <?= $week ?> руб.<br />
    прошлую неделю: <?= $lastweek ?> руб.
</div>

<div id="header">
    <div id="logo">
        <a href="/"><img src="/images/logo.png" alt="www.microsms.ru" /></a>
        <br/>
        <div id='contacts'>
            <span>icq: 212-173<span style='padding-left:50px'> </span>e-mail: info@microsms.ru</span>
            <span>Тел. +7 963 999 99 61 (пн.-вс. с 10 до 19)</span>
        </div>
    </div>
</div>

<div id="menu">
    <a class="button <?= getMenu(array('index')) ?>" href="/">Главная<span></span></a>
    <a class="button <?= getMenu(array('services')) ?>" href="/services">Сервисы<span></span></a>
    <a class="button <?= getMenu(array('stats','detail')) ?>" href="/stats">Статистика<span></span></a>
    <a class="button <?= getMenu(array('tariffs')) ?>" href="/tariffs">Тарифы<span></span></a>
    <a class="button <?= getMenu(array('info')) ?>" href="/info">Информация<span></span></a>
    <a class="button <?= getMenu(array('support')) ?>" href="/support">Служба поддержки<span></span></a>
    <span id="login">Здравствуйте, <?=Zend_Auth::getInstance()->getIdentity()->login?>! (<?=Zend_Auth::getInstance()->getIdentity()->name?>) <a href="/index/logout" id="logout" title="Выход"></a></span>
</div>

<div id="content">
    <div class="error"><h3>ВНИМАНИЕ!</h3>Платформа работает в тестовом режиме</div>
    <div><?php echo $this->layout()->content ?></div>
</div>
<div class="clear_page"></div>
</div>
<div id="footer">Биллинговая платформа www.microsms.ru &copy; 2011 Все права защищены <!--ООО "Интерактивные Технологии"--></div>
<script type="text/javascript">
$(function(){
    loader.hide();
    <?php $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');
    echo "/*";
    Zend_Debug::dump($flashMessenger->getMessages());
    echo "*/";
    if ($flashMessenger->setNamespace('error')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
        $.pnotify({
            pnotify_title: "Ошибка",
            pnotify_text: "<?php echo $msg ?>",
            pnotify_error_icon: 'picon icon-error',
            pnotify_history: false,
            pnotify_nonblock: true,
            pnotify_type: 'error'
        });
        <?php endforeach; ?>
    <?php endif; ?>
    <?php if ($flashMessenger->setNamespace('warning')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
        $.pnotify({
            pnotify_title: "Предупреждение",
            pnotify_text: "<?php echo $msg ?>",
            pnotify_error_icon: 'picon icon-warning',
            pnotify_history: false,
            pnotify_nonblock: true,
            pnotify_type: 'error'
        });
        <?php endforeach; ?>
    <?php endif; ?>
    <?php if ($flashMessenger->setNamespace('info')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
        $.pnotify({
            pnotify_title: "Информация",
            pnotify_text: "<?php echo $msg ?>",
            pnotify_error_icon: 'picon icon-info',
            pnotify_history: false,
            pnotify_nonblock: true,
            pnotify_type: 'error'
        });
        <?php endforeach; ?>
    <?php endif; ?>
    <?php if ($flashMessenger->setNamespace('success')->hasMessages()): ?>
        <?php foreach ($flashMessenger->getMessages() as $msg): ?>
        $.pnotify({
            pnotify_title: "Выполнено",
            pnotify_text: "<?php echo $msg ?>",
            pnotify_error_icon: 'picon icon-success',
            pnotify_history: false,
            pnotify_nonblock: true,
            pnotify_type: 'error'
        });
        <?php endforeach; ?>
    <?php endif; ?>
});
</script>

</body>
</html>