<div class="info">
    <h2>Тарифы</h2>
    <div>Тарифы предоставлены в соответствии с вашим тарифном планом</div>
</div>
<div class="text">
    <table border="0">
        <tr valign="top">
            <td width="200" class="tariffs">
                <?php foreach($this->countries as $row): ?>
                    <span><img src="/images/flags/<?=strtoupper($row['code'])?>"> <?=$row['name']?></span>
                    <?php
                        foreach($this->numbers as $number) {
                            if((int)$number['country_id'] == (int)$row['id']) {
                                echo '<a href="' . $this->url(array('controller' => 'tariffs', 'country' => $row['code'], 'num' => $number['number'])) . '"' . (((int)$this->number==$number['number']) ? ' style="font-weight:bold;"' : '') . '>' . $number['number'] . '</a>';
                            }
                        }
                    ?>
                <?php endforeach; ?>
            </td>
            <td style="padding-left:5px;width:80%;">
                <span style="font-size:16px;"><?=$this->country . ' короткий номер ' . $this->number?></span>
                <div class="ui-grid ui-widget">
                    <table id="table" class="ui-grid-content ui-widget-content ui-corner-all" style="width:100%">
                        <thead>
                        <tr>
                            <th class="ui-state-hover">Оператор</th>
                            <th class="ui-state-hover">Цена для абонента</th>
                            <th class="ui-state-hover">Цена для абонента, RUR</th>
                            <th class="ui-state-hover">Доход партнёра, RUR</th>
                            <th class="ui-state-hover">Процент</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?=$this->partialLoop('tariffs/row.phtml', $this->tariffs);?>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(".tariffs > span:odd").css('background-color', '#e0e0e0');
</script>