<tr class="<?=(!$this->getHelper('PartialLoop')->view->altrow ^= 1) ? 'alt' : ''?>">
    <td class="ui-widget-content" style="text-align:left"><?=$this->name?></td>
    <td class="ui-widget-content"><?=round($this->abonent_price, 2)?> <?=$this->abonent_currency?></td>
    <td class="ui-widget-content"><?=round($this->abonent_price_rur, 2)?></td>
    <td class="ui-widget-content"><?=round($this->partner, 2)?></td>
    <td class="ui-widget-content"><?=round($this->partner / $this->abonent_price_rur * 100, 2)?>%</td>
</tr>