<?php echo $this->doctype() ?>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<?php echo $this->headMeta() ?>

<?php echo $this->headTitle() ?>

<?php echo $this->headLink() ?>

<?php echo $this->headStyle() ?>

<?php echo $this->headScript() ?>

</head>
<body>

<div id="loader-mask"></div>
<div id="loader">
    <div class="loader-indicator"><br/><span id="loader-msg">Загрузка интерфейса...</span></div>
</div>

<div class="container">
    <div id="head">
        <div id="panel_stats" class="panel_stats"><?php echo $this->panel ?></div>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="microsms.ru" id="logo"></a>
            <br/>

            <div style='padding-left:5px;padding-top:5px;'><span style='color:white;font: 9px "DejaVu Sans";'>icq: 212-173<span
                    style='padding-left:40px'> </span>e-mail: info@microsms.ru<br/>Тел. +7 963 999 99 61 (пн.-вс. с 10 до 19)</span>
            </div>
        </div>

        <div class="login_panel">
            <a href="/"><img id="registration" src="/images/button5.png"></a>
            <a href="/"><img id="login" src="/images/button1.png"></a>
            <a href="/"><img id="lost" src="/images/button4.png"></a>
        </div>

    </div>

    <div class="menu">
        <ul>
            <li><a href="/page/about">О системе</a></li>
            <li><a href="/tariffs">Тарифы</a></li>
            <li><a href="/page/contacts">Контакты</a></li>
        </ul>
    </div>

    <div id="content">
        <?php echo $this->layout()->content ?>
    </div>

    <div id="footer">
        <div class="footer_menu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li>|</li>
                <li><a href="/news/">Новости</a></li>
                <li>|</li>
                <li><a href="/page/about">О системе</a></li>
                <li>|</li>
                <li><a href="/tariffs">Тарифы</a></li>
                <li>|</li>
                <li><a href="/page/contacts">Контакты</a></li>
            </ul>
        </div>
        <p class="copyright">Copyright 2009 Micro SMS. Все права защищены.</p>

        <div class="footerlogo">
            <a id="dmit" href="http://ooo-dm.com/"><img id="dmit-logo" src="/images/dmit.png" alt=""></a>
            <a id="smsscript" href="http://www.sms-script.ru/"><img id="smsscript-logo" src="/images/smsscript.png"
                                                                    alt=""></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function($) {
        //$("img").pngfix();
        $('#loader').remove();
        $('#loader-mask').fadeOut();
    });
</script>

</body>
</html>