<div class="news_image"><img src="/images/news.png" alt=""></div>

<div class="news">

    <h1>новости</h1>

                <?php
                    function snippet($text,$length=1,$tail="...") {
                        $text = trim($text);
                        $txtl = mb_strlen($text,'UTF-8');
                        if($txtl > $length) {
                            $words = mb_split("(\.|\!|\?)",$text);
                            $text = '';
                            for($i=0;$i<=$length;$i++) {
                                $text.= $words[$i];
                            }
                            $text .= $tail;
                        }
                        return $text;
                    }
                    foreach($this->news as $news){
                      echo '
                        <div class="news_container">
                                <p class="news_date_main">'.$news['date'].' <a href="/news/'.$news['id'].'">'.$news['title'].'</a></p>
                                <p class="news_header">'.snippet($news['text'],2).'</p>
                        </div>';
                    }
                ?>

    <?= $this->paginationControl($this->news, 'Sliding', 'pagination.phtml'); ?>
