<div class="news_image"><img src="/images/news.png" alt=""></div>

<div class="news">

    <h1>новости</h1>

    <p class="news_date">
        <?=$this->news->date ?>
    </p>

    <p class="news_header">
        <?=$this->news->title ?>
    </p>

    <?=$this->news->text ?>

    <p class="all_news">
        <a href="/news">Все новости</a>
    </p>

</div>
