<div class="info">
    <h2>Детальная статистика</h2>
    <div><img alt="" src="/images/icons/clipboard-invoice.png" /> <a href="/stats">Сводная статистика</a><span class="spacer"></span><img alt="" src="/images/icons/table.png" /> Детальная статистика</div>
</div>

<?php
if($this->form->isErrors()) {
    #echo $this->formErrors($this->form->getMessages());
    echo '<div class="error"><h3>Ошибка заполнения формы, проверьте следующие поля:</h3><p>';
    foreach($this->form->getMessages() as $field => $errors) {
        echo '<strong>' . $this->form->{$field}->getLabel() . '</strong> ';
    }
    echo '</p></div>';
}
?>
<button type="button" id="filter"><img alt="" src="/images/icons/ui-search-field.png" /> Параметры просмотра</button>
<br />
<div class="fieldset">
    <form action="<?= $this->escape($this->form->getAction()) ?>" method="<?= $this->escape($this->form->getMethod()) ?>">
        <ul>
            <li class="date leftHalf">
                <label for="datefrom_d" class="desc">С какой даты</label>
                <span>
                    <?= $this->form->fromd ?>
                </span>
                <span class="symbol">-</span>
                <span>
                    <?= $this->form->fromm ?>
                </span>
                <span class="symbol">-</span>
                <span>
                    <?= $this->form->fromy ?>
                </span>
                <span>
                    <img alt="Выбрать дату" src="/images/icons/calendar.png" class="datepicker" id="datefrom">
                </span>
            </li>


            <li class="date rightHalf">
                <label for="dateto_d" class="desc">По какую дату</label>
                <span>
                    <?= $this->form->tod ?>
                </span>
                            <span class="symbol">-</span>
                <span>
                    <?= $this->form->tom ?>
                </span>
                            <span class="symbol">-</span>
                <span>
                    <?= $this->form->toy ?>
                </span>
                <span>
                    <img alt="Выбрать дату" src="/images/icons/calendar.png" class="datepicker" id="dateto">
                </span>
            </li>

            <li class="complex">
                <div>
                    <span class="left">
                        <?= $this->form->country ?>
                    </span>
                    <span class="right">
                        <?= $this->form->operator ?>
                    </span>
                    <span class="left">
                        <?= $this->form->number ?>
                    </span>
                    <span class="right">
                        <?= $this->form->service ?>
                    </span>
                    <span class="left">
                        <?= $this->form->prefix ?>
                    </span>
                    <span class="right">
                        <?= $this->form->abonent ?>
                    </span>
                    <span class="left full">
                        <?= $this->form->textsms ?>
                    </span>
                </div>
            </li>
            <li class="checkboxlist">
                <?=$this->form->status;?>
            </li>

            <li class="buttons">
                <button type="button" onclick="javascript:$('.fieldset > form').clearForm();$('.fieldset > form').submit();"><span class="ui-icon ui-icon-close"></span> Сбросить</button>
                <button type="submit"><span class="ui-icon ui-icon-check"></span> Показать</button>
            </li>
        </ul>
    </form>
</div>
<br />
<div class="ui-grid ui-widget">
    <table id="table" class="ui-grid-content ui-widget-content ui-corner-all">
        <thead>
        <tr>
            <th class="ui-state-hover" style="width:20px;">&nbsp;</th>
            <th class="ui-state-hover sortable" name="date">Дата</th>
            <th class="ui-state-hover sortable" name="operator">Оператор</th>
            <th class="ui-state-hover sortable" name="number">Номер</th>
            <th class="ui-state-hover sortable" name="service">Сервис</th>
            <th class="ui-state-hover sortable" name="prefix">Префикс</th>
            <th class="ui-state-hover sortable" name="abonent">Абонент</th>
            <th class="ui-state-hover sortable" name="status">Статус</th>
            <th class="ui-state-hover sortable" name="cost">Доход, RUR</th>
        </tr>
        </thead>
        <tbody>
        <?=$this->partialLoop('detail/row.phtml', $this->items);?>
        </tbody>
    </table>
    <div class="ui-grid-footer ui-widget-header ui-corner-bottom ui-helper-clearfix">
        <?= $this->paginationControl($this->items, 'Elastic', 'detail/pagination.phtml'); ?> 
        <div class="ui-grid-results">Всего записей: <?=$this->items->getTotalItemCount(); ?></div>
    </div>
    <?
    /*<tfoot>
    <tr>
        <th colspan="9" align="left">Всего записей: <?=$this->items->getTotalItemCount(); ?> <?= $this->paginationControl($this->items, 'Elastic', 'detail/pagination.phtml'); ?></th>
    </tr>
    </tfoot
     */?>

<script type="text/javascript">
function sortPage(sortField) {
    var loc = '<?=$this->url(array('sort' => '@', 'dir' => (Zend_Controller_Front::getInstance()->getRequest()->getParam('dir', 'desc')=='asc'?'desc':'asc') ))?>';
    window.location = loc.replace('%40', sortField);
}

$(document).ready(function() {
    $("#filter").button().click(function() {
        $('.fieldset').slideToggle(200);
    });
    $("li.buttons > button").each(function(){
        $(this).button();
    });
    try {
        $("#table").grid({
            location: '<?=$this->url(array('sort' => chr(0), 'dir' => (Zend_Controller_Front::getInstance()->getRequest()->getParam('dir', 'desc')=='asc'?'desc':'asc') ))?>',
            sort: '<?=Zend_Controller_Front::getInstance()->getRequest()->getParam('sort', 'date');?>',
            dir: '<?=(Zend_Controller_Front::getInstance()->getRequest()->getParam('dir', 'asc')=='desc'?'s':'n');?>'
        });
        stats.datepicker();
        $("td.ui-widget-content > a").click(function(e) {
            e.preventDefault();
            var el = $(this).find('img');
            switch($(el).attr('src')) {
                case '/images/icons/cross.png':
                    var row = $(el).parent().parent().parent().next();
                    $(row).remove();
                    $(el).attr('src', '/images/icons/document-search-result.png');
                break;

                case '/images/icons/document-search-result.png':
                    $(el).attr('src', '/images/ajax-loader.gif');
                    $.ajax({
                        url: $(this).attr('href'),
                        dataType: "html",
                        cache: true,
                        timeout: (3 * 1000),
                        success: function(response) {
                            $(el).attr('src', '/images/icons/cross.png');
                            $(el).parent().parent().parent().after(response);
                        },
                        error: function() {
                            $(el).attr('src', '/images/icons/document-search-result.png');
                            $.pnotify({
                                pnotify_title: "Ошибка",
                                pnotify_text: "Неудалось получить данные с сервера, попробуйте повторить запрос",
                                pnotify_error_icon: 'picon icon-info',
                                pnotify_history: false,
                                pnotify_nonblock: true,
                                pnotify_type: 'error'
                            });
                        }
                    });
                break;
            }
        });
    }catch(e){}
});
</script>

<? /*

            <!--// class="focused" //-->
            <li>
                <label for="Field0" id="title0" class="desc">Представьтесь:</label>
                <span>
                    <input type="text" tabindex="1" size="8" value="" class="text fn" name="Field0" id="Field0">
                    <label for="Field0">Фамилия</label>
                </span>
                <span>
                    <input type="text" tabindex="2" size="14" value="" class="text ln" name="Field1" id="Field1">
                    <label for="Field1">Имя</label>
                </span>
            </li>


            <li class="complex">
                <label for="Field2" id="title2" class="desc">Набор полей <span class="req">*</span></label>

                <div>
                    <span class="full addr1">
                        <input type="text" tabindex="3" value="" class="text addr" name="Field2" id="Field2">
                        <label for="Field2">Страна</label>
                    </span>
                    <span class="full addr2">
                        <input type="text" tabindex="4" value="" class="text addr" name="Field3" id="Field3">
                        <label for="Field3">Область</label>
                    </span>
                    <span class="left">
                        <input type="text" tabindex="5" value="" class="text addr" name="Field4" id="Field4">
                        <label for="Field4">Город</label>
                    </span>
                    <span class="right">
                        <input type="text" tabindex="6" value="" class="text addr" name="Field5" id="Field5">
                        <label for="Field5">Улица</label>
                    </span>
                    <span class="left">
                        <input type="text" tabindex="7" maxlength="15" value="" class="text addr" name="Field6" id="Field6">
                        <label for="Field6">Почтовый индекс</label>
                    </span>
                    <span class="right">
                        <select tabindex="8" class="select addr" name="Field7" id="Field7">
                            <option selected="selected" value="">Не выбран</option>
                            <option value="United States">Мужской</option>
                            <option value="United Kingdom">Женский</option>
                        </select>
                        <label for="Field7">Пол</label>
                    </span>
                </div>
            </li>

            <li class="phone leftHalf">
                <label for="Field8" id="title8" class="desc">Поля с маской</label>
                <span>
                    <input type="text" tabindex="9" maxlength="3" size="3" value="" class="text" name="Field8" id="Field8">
                    <label for="Field8">###</label>
                </span>
                            <span class="symbol">-</span>
                <span>
                    <input type="text" tabindex="10" maxlength="3" size="3" value="" class="text" name="Field8-1" id="Field8-1">
                    <label for="Field8-1">###</label>
                </span>
                            <span class="symbol">-</span>
                <span>
                    <input type="text" tabindex="11" maxlength="4" size="4" value="" class="text" name="Field8-2" id="Field8-2">
                    <label for="Field8-2">####</label>
                </span>
            </li>


            <li class="rightHalf">
                <label for="Field9" id="title9" class="desc">Email <span class="req">*</span></label>

                <div>
                    <input type="text" tabindex="12" maxlength="255" value="" class="text medium" name="Field9"
                           id="Field9">
                </div>
            </li>


            <li class="date leftHalf">
                <label for="Field12" id="title12" class="desc">Дата 1</label>
                <span>
                    <input type="text" tabindex="15" maxlength="4" size="4" value="" class="text" name="Field12" id="Field12">
                    <label for="Field12">Год</label>
                </span>
                <span class="symbol">-</span>
                <span>
                    <input type="text" tabindex="14" maxlength="2" size="2" value="" class="text" name="Field12-2" id="Field12-2">
                    <label for="Field12-2">Месяц</label>
                </span>
                <span class="symbol">-</span>
                <span>
                    <input type="text" tabindex="13" maxlength="2" size="2" value="" class="text" name="Field12-1" id="Field12-1">
                    <label for="Field12-1">День</label>
                </span>
                <span id="cal12">
                    <img alt="Pick a date." src="/images/icons/calendar.png" class="datepicker">
                </span>
            </li>


            <li class="date rightHalf">
                <label for="Field13" class="desc">Дата 2</label>
                <span>
                    <input type="text" tabindex="16" maxlength="2" size="2" value="" class="text" name="Field13-1" id="Field13-1">
                    <label for="Field13-1">День</label>
                </span>
                            <span class="symbol">-</span>
                <span>
                    <input type="text" tabindex="17" maxlength="2" size="2" value="" class="text" name="Field13-2" id="Field13-2">
                    <label for="Field13-2">Месяц</label>
                </span>
                            <span class="symbol">-</span>
                <span>
                    <input type="text" tabindex="18" maxlength="4" size="4" value="" class="text" name="Field13" id="Field13">
                    <label for="Field13">Год</label>
                </span>
                <span id="cal13">
                    <img alt="Pick a date." src="/images/icons/calendar.png" class="datepicker">
                </span>
            </li>

            <li>
                <label for="Field10" class="desc">Выпадающее меню</label>

                <div>
                    <select tabindex="19" class="select medium" name="Field10" id="Field10">
                        <option selected="selected" value=""></option>
                        <option value="Single">Single</option>
                        <option value="Couple">Couple</option>
                        <option value="Group">Group</option>
                        <option value="Family">Family</option>
                        <option value="Roommate Selected">Roommate Selected</option>
                        <option value="Need Roommate">Need Roommate</option>
                        <option value="Without Accommodations">Without Accommodations</option>
                    </select>
                </div>
            </li>

            <li>
                <label for="Field11" class="desc">Текстовое поле</label>

                <div>
                    <textarea tabindex="20" cols="50" rows="10" class="textarea small" name="Field11"
                              id="Field11"></textarea>
                </div>
            </li>

*/
?>