<tr><td colspan='9'>
    <table cellspacing="0" cellpadding="0" class="smalltable">
        <tbody>
            <tr>
                <td class="header">ID</td>
                <td class="tdleft"><?= $this->info['smsid'] ?></td>
            </tr>
            <tr>
                <td class="header">Дата получения</td>
                <td class="tdleft"><?= $this->info['date_received'] ?></td>
            </tr>
            <tr>
                <td class="header">Дата ответа</td>
                <td class="tdleft"><?= $this->info['date_response'] ?></td>
            </tr>
            <tr>
                <td class="header">Страна</td>
                <td class="tdleft"><?= $this->info['country'] ?></td>
            </tr>
            <tr>
                <td class="header">Оператор</td>
                <td class="tdleft"><?= $this->info['operator'] ?></td>
            </tr>
            <!--tr>
                <td class="header">МТТ</td>
                <td class="tdleft"><?= $this->info['mtt'] ?></td>
            </tr-->
            <tr>
                <td class="header">Сервис</td>
                <td class="tdleft"><?= $this->info['service'] ?></td>
            </tr>
            <tr>
                <td class="header">Короткий номер</td>
                <td class="tdleft"><?= $this->info['number'] ?></td>
            </tr>
            <tr>
                <td class="header">Номер абонента</td>
                <td class="tdleft"><?= $this->info['abonent'] ?></td>
            </tr>
            <tr>
                <td class="header">Префикс</td>
                <td class="tdleft"><?= $this->info['prefix'] ?></td>
            </tr>
            <tr>
                <td class="header">Входящее сообщение</td>
                <td class="tdleft"><?= $this->info['input'] ?></td>
            </tr>
            <tr>
                <td class="header">Исходящее сообщение</td>
                <td class="tdleft"><?= $this->info['output'] ?></td>
            </tr>
            <tr>
                <td class="header" valign="top">Ответ сервиса</td>
                <td class="tdleft"><textarea class="textarea small"><?= $this->escape($this->info['response_server']) ?></textarea></td>
            </tr>
            <tr>
                <td class="header">Статус</td>
                <td class="tdleft"><?= $this->info['status'] ?></td>
            </tr>
            <tr>
                <td class="header">Статус оплаты</td>
                <td class="tdleft"><?= $this->info['status_payment'] ?></td>
            </tr>
            <tr>
                <td class="header">Расход абонента</td>
                <td class="tdleft"><?= $this->info['cost'] ?> RUR</td>
            </tr>
            <tr>
                <td class="header">Доход</td>
                <td class="tdleft"><?= $this->info['cost_partner'] ?> RUR</td>
            </tr>
        </tbody>
    </table>
</td></tr>