<div class="navigation ui-helper-clearfix">
    <?php if ($this->pageCount): ?>

    <!-- Ссылка на первую страницу -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->first)); ?>" class="ui-state-default ui-corner-left"><<</a>
    <?php endif; ?>

    <?php foreach ($this->pagesInRange as $page): ?>
      <?php
      if ($page != $this->current) {
        echo '<a href="' . $this->url(array('page' => $page)) . '" class="ui-state-default ui-corner-all">' . $page . '</a>';
      } else {
        echo '<span class="ui-state-hover ui-corner-all">' . $page . '</span>';
      }
      if ($page < $this->last) echo '&nbsp;';
      ?>
    <?php endforeach; ?>

    <!-- Ссылка на последнюю страницу -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->last)); ?>" class="ui-state-default ui-corner-right">>></a>
    <?php endif; ?>

    <?php endif; ?>
</div>