<tr class="<?=(!$this->getHelper('PartialLoop')->view->altrow ^= 1) ? 'alt' : ''?>">
    <td class="ui-widget-content"><a href="<?=$this->url(array('controller' => 'detail', 'action' => 'info', 'id' => $this->id), null, true)?>"><img src="/images/icons/document-search-result.png"></a></td>
    <td class="ui-widget-content" style="text-align:center"><?=$this->date_received?></td>
    <td class="ui-widget-content" style="text-align:left"><img src="/images/flags/<?=strtoupper($this->getHelper('PartialLoop')->view->countries[$this->country_id])?>" valign="middle"> <?=$this->getHelper('PartialLoop')->view->operators[$this->operator_id]?></td>
    <td class="ui-widget-content"><?=$this->number?></td>
    <td class="ui-widget-content"><?=$this->getHelper('PartialLoop')->view->services[$this->service_id]?></td>
    <td class="ui-widget-content"><?=$this->prefix?></td>
    <td class="ui-widget-content"><?=$this->abonent?></td>
    <td class="ui-widget-content"><?=$this->getHelper('PartialLoop')->view->status[$this->status]?></td>
    <td class="ui-widget-content"><?=$this->cost_partner?></td>
</tr>