	<div id="middle" class="clearfix">
		<!-- Container Start -->
		<div id="container">
			<!-- Content Start -->
			<div id="content-full">
				<div class="page">
					<div class="page-404">
						<h2><?php echo $this->message ?></h2>
						<p>Неправильно набран адрес, или такой страницы больше не существует. Если вы уверены, что набрали адрес правильно, сообщите нам об этом по электронной почте:<br />
                        <script>function email() { return 'support' + '@micro' + 'sms' + '.' + 'ru'; } function mailto() { return 'mail' + 'to' + ':'; } document.write('<a href="' + mailto() + email() + '">' + email() + '</a>');</script></p>
						<p>Спасибо!</p>

                        <?php if (isset($this->exception)): ?>
                            <div class="warning">
                            <h3>Exception information:</h3>
                            <p>
                                <b>Message:</b> <?php echo $this->exception->getMessage() ?>
                            </p>

                            <h3>Stack trace:</h3>
                            <pre><?php echo $this->exception->getTraceAsString() ?>
                          </pre>

                            <h3>Request Parameters:</h3>
                            <pre><?php echo var_export($this->request->getParams(), true) ?>
                          </pre>
                          </div>
                        <?php endif ?>
					</div>
				</div>
			</div>
            <!-- Content End -->
		</div>
		<!-- Container End -->
	</div>