	html {
	font: 0px 'tahoma';
	background: #ee3902 url("../images/site_bg.jpg") repeat-x;
	}

	* {		
	margin: 0px; 
	padding: 0px;
	}

	h1,h2,h3 {
	font: bold 14px 'tahoma';
	text-decoration: none;
	}

	img {
	border:0px;
	}

	input, img, .login_panel, .tariff_panel, .jump_panel, .feedback_panel, .input5_container, .input6_container, .input7_container, .textarea2_container, .selectbox2_container, .news_container {
	behavior: url(iepngfix.htc)
	}

	a {
	outline: none;
	}

	ul {
	list-style: none;
	}

	td {
	vertical-align: top;
	}

	.container {
	width: 1000px;
	margin: 0px auto;
	}

	#head {
	width: 1000px;
	position: relative;
	float: left;
	height: 158px;
	}

	.forget_register {
	position: absolute;
	top: 50px;
	left: 100px;
	font-size: 12px;
	}

	.forget_register a{
	float: left;
	margin-right: 45px;
	display: inline;
	}

	.forget_register a:link {color: #34d7f4; text-decoration: underline}
	.forget_register a:visited {color: #34d7f4; text-decoration: underline}
	.forget_register a:active {color: #34d7f4; text-decoration: underline}
	.forget_register a:hover {color: #34d7f4; text-decoration: none}

	.forget_register span a:link {color: #fff; text-decoration: underline}
	.forget_register span a:visited {color: #fff; text-decoration: underline}
	.forget_register span a:active {color: #fff; text-decoration: underline}
	.forget_register span a:hover {color: #fff; text-decoration: none}

	.logo {
	position: absolute;
	left: 671px;
	top: 93px;
	}

	.login_panel {
	position: absolute;
	left: 50px;
	top: 100px;
	width: 532px;
	height: 55px;
	background: url("../images/panel1.png") no-repeat;
	}

	.input1_container {
	position: absolute;
	left: 66px;
	top: 113px;
	width: 160px;
	height: 21px;
	padding: 7px 17px 0px 17px;
	background: url("../images/input1.png") no-repeat;
	}

	.input1 {
	padding: 0px;
	text-align: left;
	color: #7f7f7f;
	font: 12px 'tahoma';
	background-color: transparent;
	border-width: 0px;
	width: 160px;
	cursor: text;
	}

	.input2_container {
	position: absolute;
	left: 271px;
	top: 113px;
	width: 160px;
	height: 21px;
	padding: 7px 17px 0px 17px;
	background: url("../images/input1.png") no-repeat;
	}

	.input2_container label {
	font: 12px 'tahoma';
	color: #7f7f7f;
	width: 160px;
	position: relative;
	z-index: 0;
	float: left;
	margin-top: 0px;
	clear: both;
	cursor: text;
	}

	.pass {
	position: relative;
	z-index: 1;
	float: left;
	margin-top: -15px;
	color: #7f7f7f;
	font: 12px 'tahoma';
	background-color: transparent;
	border-width: 0px;
	width: 160px;
	}
	
	.login_button {
	position: absolute;
	top: 110px;
	left: 477px;
	}

	#content {
	position: relative;
	float: left;
	width: 1000px;
	min-height: 900px;
	}

	.menu {
	font-size: 20px;
	float: right;
	padding-right: 50px;
	margin-top: 75px;
	}

	.menu ul li {
	float: left;
	width: 135px;
	height: 48px;
	display: inline;
	text-align: center;
	margin: 0px 2px;
	position: relative;
	}

	.menu ul li a {
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 9px;
	width: 135px;
	height: 39px;
	background: url("../images/hover.png") no-repeat 0px 0px;
	}

	.menu a:link {color: #fff; text-decoration: underline}
	.menu a:visited {color: #fff; text-decoration: underline}
	.menu a:active {color: #fff; text-decoration: underline}
	.menu a:hover {color: #fff; text-decoration: none;background: url("../images/hover.png") no-repeat 0px -48px;}

	.big_image {
	position: absolute;
	z-index: 0;
	left: 20px;
	top: 45px;
	}

	.news_main {
	clear: both;
	float: right;
	width: 280px;
	padding: 100px 50px 0px 0px;
	}

	.header {
	font-size: 20px;
	color: #34d7f4;
	}

	.news_date_main {
	font-size: 10px;
	color: #fff;
	padding: 16px 0px 1px 0px;
	}

	.news_anons {
	font-size: 12px;
	}

	.news_anons a:link {color: #7c6c69; text-decoration: underline}
	.news_anons a:visited {color: #7c6c69; text-decoration: underline}
	.news_anons a:active {color: #7c6c69; text-decoration: underline}
	.news_anons a:hover {color: #7c6c69; text-decoration: none}

	.news_archive {
	font-size: 10px;
	margin-top: 16px;
	padding: 0px 0px 0px 15px;
	background: url("../images/icon1.gif") no-repeat 0px 2px;
	}

	.news_archive a:link {color: #ffa800; text-decoration: underline}
	.news_archive a:visited {color: #ffa800; text-decoration: underline}
	.news_archive a:active {color: #ffa800; text-decoration: underline}
	.news_archive a:hover {color: #ffa800; text-decoration: none}

	.tariff_panel {
	position: relative;
	float: right;
	display: inline;
	clear: both;
	z-index: 0;
	margin: 70px 29px 0px 0px;
	width: 382px;
	height: 219px;
	background: url("../images/panel2.png") no-repeat;
	}

	.tariff {
	margin-top: -229px;
	position: relative;
	z-index: 1;
	clear: both;
	font-size: 11px;
	color: #fff;
	padding: 45px 100px 0px 0px;
	float: right;
	width: 255px;
	}

	.selectbox_container {
	display: inline;
	margin: 20px 0px 0px 0px;
	float: left;
	width: 165px;
	height: 24px;
	padding: 4px 0px 0px 7px;
	background: url("../images/input2.png") no-repeat;
	}

	.selectbox {
	float: left;
	margin: 3px 0px 0px 4px;
	width: 147px;
	height: 13px;
	overflow: hidden;
	}

	.selectbox select{
	float: left;
	font: 12px 'tahoma';
	margin: -2px 0px 0px -2px;
	width: 150px;
	}

	.country_button {
	float: left;
	display: inline;
	margin: 18px 0px 0px 7px;
	}

	.see_list {
	float: left;
	clear: both;
	font-size: 10px;
	margin-top: 10px;
	padding: 0px 0px 0px 15px;
	background: url("../images/icon2.gif") no-repeat 0px 4px;
	}

	.see_list a:link {color: #ffa800; text-decoration: underline}
	.see_list a:visited {color: #ffa800; text-decoration: underline}
	.see_list a:active {color: #ffa800; text-decoration: underline}
	.see_list a:hover {color: #ffa800; text-decoration: none}

	.about_header {
	position: relative;
	z-index: 1;
	clear: both;
	font-size: 25px;
	font-weight: bold;
	float: right;
	width: 500px;
	margin-top: 20px;
	}

	.full_description {
	float: left;
	height: 21px;
	font-size: 10px;
	margin: 6px 0px 0px 50px;
	display: inline;
	padding: 2px 0px 0px 55px;
	background: url("../images/icon3.gif") no-repeat 0px 0px;
	}

	.about_header span{
	float: left;
	}

	.full_description a:link {color: #fff; text-decoration: underline}
	.full_description a:visited {color: #fff; text-decoration: underline}
	.full_description a:active {color: #fff; text-decoration: underline}
	.full_description a:hover {color: #fff; text-decoration: none}

	.about {
	position: relative;
	z-index: 1;
	float: right;
	width: 650px;
	padding: 40px 50px 0px 0px;
	font-size: 11px;
	color: #fff;
	}

	.about h1{
	color: #ffa800;
	font-size: 15px;
	font-weight: normal;
	padding-bottom: 15px;
	}

	#footer {
	float: right;
	width: 950px;
	margin-top: 65px;
	}

	.footer_menu {
	float: left;
	padding-left: 250px;
	font-size: 10px;
	color: #8b1f02;
	}

	.footer_menu ul li {
	display: inline;
	margin-right: 12px;
	}

	.footer_menu a:link {color: #8b1f02; text-decoration: underline}
	.footer_menu a:visited {color: #8b1f02; text-decoration: underline}
	.footer_menu a:active {color: #8b1f02; text-decoration: underline}
	.footer_menu a:hover {color: #8b1f02; text-decoration: none}

	.copyright {
	float: left;
	width: 500px;
	clear: both;
	font-size: 10px;
	color: #8b1f02;
	padding: 8px 0px 0px 250px;
	}

	.dmit {
	float: left;
	clear: both;
	width: 150px;
	height: 50px;
	margin-top: -15px;
	overflow: hidden;
	}

	.padding {
	line-height: 18px;
	}

	.tariff_description {
	position: absolute;
	top: 80px;
	left: 100px;
	width: 400px;
	font-size: 11px;
	color: #fff;
	line-height: 17px;
	}

	.tariff_description span{
	padding-top: 10px;
	text-transform: uppercase;
	line-height: 22px;
	width: 400px;
	float: left;
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 30px;
	}

	.cake {
	position: absolute;
	top: 255px;
	left: 34px;
	}

	.country_list {
	margin-top: 150px;
	float: right;
	clear: both;
	font-size: 18px;
	width: 450px;
	}

	.country_name {
	margin-bottom: 19px;
	float: left;
	width: 207px;
	padding-left: 18px;
	background: url("../images/arrow.gif") no-repeat 0px 6px;
	}

	.country_name a:link {color: #ffa800; text-decoration: underline}
	.country_name a:visited {color: #ffa800; text-decoration: underline}
	.country_name a:active {color: #ffa800; text-decoration: underline}
	.country_name a:hover {color: #ffa800; text-decoration: none}

	.country_name span{
	padding-left: 5px;
	top: -7px;
	position: relative;
	color: #fff;
	font-size: 10px;
	}

	.pathway {
	color: #ffa800;
	margin-top: 135px;
	float: right;
	clear: both;
	font-size: 20px;
	width: 450px;
	padding-left: 18px;
	background: url("../images/arrow.gif") no-repeat 0px 21px;
	}

	.pathway a:link {color: #ffa800; text-decoration: underline}
	.pathway a:visited {color: #ffa800; text-decoration: underline}
	.pathway a:active {color: #ffa800; text-decoration: underline}
	.pathway a:hover {color: #ffa800; text-decoration: none}

	.pathway span{
	font-size: 34px;
	}

	.tariff_numbers_header {
	margin: 25px 31px 0px 0px;
	display: inline;
	float: right;
	clear: both;
	width: 399px;
	height: 38px;
	padding: 6px 0px 0px 20px;
	background: url("../images/black_panel.png") no-repeat;
	}

	.text01 {
	float: left;
	font-size: 13px;
	padding-left: 10px;
	width: 180px;
	background: url("../images/arrow2.gif") no-repeat 0px 6px;
	}

	.text01 a:link {color: #fff; text-decoration: none}
	.text01 a:visited {color: #fff; text-decoration: none}
	.text01 a:active {color: #fff; text-decoration: none}
	.text01 a:hover {color: #fff; text-decoration: underline}
	
	.text02 {
	float: left;
	font-size: 13px;
	width: 120px;
	color: #fff;
	}

	.text02 span{
	float: left;
	font-size: 10px;
	color: #d68802;
	clear: both;
	}

	.text03 {
	float: left;
	font-size: 13px;
	color: #fff;
	}

	.text03 span{
	float: left;
	font-size: 10px;
	color: #d68802;
	clear: both;
	}

	.tariff_numbers_table {
	margin: 0px 52px 0px 0px;
	display: inline;
	float: right;
	clear: both;
	width: 366px;
	color: #fff;
	font-size: 11px;
	}

	.operators_tariff {
	margin-top: 19px;
	float: left;
	width: 366px;
	height: 14px;
	background: url("../images/dash.gif") repeat-x bottom;
	}

	.operators_name {
	float: left;
	width: 180px;
	}

	.rur {
	float: left;
	width: 120px;
	color: #ffa800;
	}

	.usd {
	color: #ffa800;
	float: left;
	}

	.jump_panel {
	float: right;
	clear: both;
	display: inline;
	width: 382px;
	height: 223px;
	margin: 90px 70px 0px 0px;
	background: url("../images/panel3.png") no-repeat;
	}

	.jump_panel_content {
	position: relative;
	z-index: 1;
	clear: both;
	font-size: 11px;
	color: #fff;
	margin-top: -184px;
	padding: 0px 141px 0px 0px;
	float: right;
	width: 255px;
	}

	.tariff_country_header {
	margin: 25px 149px 0px 0px;
	display: inline;
	float: right;
	clear: both;
	width: 270px;
	height: 24px;
	padding: 6px 0px 0px 31px;
	background: url("../images/black_panel2.png") no-repeat;
	}
	
	.tariff_country_table {
	margin: 0px 179px 0px 0px;
	display: inline;
	float: right;
	clear: both;
	width: 239px;
	color: #fff;
	font-size: 13px;
	}

	.text04 {
	float: left;
	font-size: 13px;
	width: 132px;
	color: #fff;
	}

	.text05 {
	width: 125px;
	float: left;
	font-size: 13px;
	color: #fff;
	}

	.text05 span{
	font-size: 10px;
	color: #d68802;
	}

	.numbers_tariff {
	margin-top: 14px;
	float: left;
	width: 217px;
	background: url("../images/dash.gif") repeat-x bottom;
	}

	.number {
	float: left;
	width: 132px;
	font-size: 18px;
	}

	.number a:link {color: #fff; text-decoration: underline}
	.number a:visited {color: #fff; text-decoration: underline}
	.number a:active {color: #fff; text-decoration: underline}
	.number a:hover {color: #fff; text-decoration: none}

	.income {
	padding-top: 5px;
	color: #ffa800;
	float: left;
	}

	.bear {
	position: absolute;
	z-index: 0;
	top: 200px;
	left: 65px;
	}

	.error {
	position: relative;
	z-index: 1;
	color: #fff;
	margin: 125px 90px 0px 0px;
	display: inline;
	float: right;
	clear: both;
	font-size: 12px;
	width: 360px;
	}

	.error h2{
	color: #e9a502;
	font-size: 16px;
	padding-bottom: 15px;
	}

	.error a:link {color: #e9a502; text-decoration: underline}
	.error a:visited {color: #e9a502; text-decoration: underline}
	.error a:active {color: #e9a502; text-decoration: underline}
	.error a:hover {color: #e9a502; text-decoration: none}

	.contacts_image {
	position: absolute;
	top: 280px;
	left: 34px;
	}

	.contacts {
	color: #fff;
	margin-top: 145px;
	float: right;
	clear: both;
	font-size: 13px;
	width: 423px;
	padding-right: 20px;
	}

	.contacts a:link {color: #fff; text-decoration: underline}
	.contacts a:visited {color: #fff; text-decoration: underline}
	.contacts a:active {color: #fff; text-decoration: underline}
	.contacts a:hover {color: #fff; text-decoration: none}

	.text06 {
	font-size: 20px;
	padding-right: 15px;
	color: #ffa800;
	}

	.text07 {
	padding-left: 15px;
	color: #ffa800;
	}

	.feedback_panel {
	float: right;
	clear: both;
	display: inline;
	width: 423px;
	height: 504px;
	margin: 35px 30px 0px 0px;
	background: url("../images/panel4.png") no-repeat;
	}

	.feedback_panel_content {
	position: relative;
	z-index: 1;
	clear: both;
	font-size: 11px;
	color: #fff;
	margin-top: -485px;
	padding: 0px 93px 0px 0px;
	float: right;
	width: 301px;
	}

	.input3_container {
	margin-top: 20px;
	float: left;
	width: 267px;
	height: 21px;
	padding: 7px 17px 0px 17px;
	background: url("../images/input3.png") no-repeat;
	}

	.input3 {
	padding: 0px;
	color: #000;
	font: 12px 'tahoma';
	background-color: transparent;
	border-width: 0px;
	width: 267px;
	cursor: text;
	}

	.textarea_container {
	float: left;
	margin-top: 20px;
	width: 269px;
	height: 122px;
	padding: 6px 16px 0px 16px;
	background: url("../images/textarea.png") no-repeat;
	}

	.textarea {
	overflow: hidden;
	color: #000;
	font: 12px 'tahoma';
	background-color: transparent;
	border-width: 0px;
	width: 269px;
	height: 114px;
	}

	.captcha {
	float: left;
	margin-top: 15px;
	}

	.input4_container {
	margin-top: 20px;
	float: right;
	width: 160px;
	height: 21px;
	padding: 7px 17px 0px 17px;
	background: url("../images/input1.png") no-repeat;
	}

	.input4 {
	padding: 0px;
	text-align: left;
	color: #000;
	font: 12px 'tahoma';
	background-color: transparent;
	border-width: 0px;
	width: 160px;
	cursor: text;
	}

	.send_button {
	margin-top: 20px;
	float: right;
	}

	.input5_container {
	margin-top: 25px;
	float: left;
	width: 160px;
	height: 21px;
	padding: 7px 17px 0px 17px;
	background: url("../images/input4.png") no-repeat;
	}

	.input5 {
	padding: 0px;
	text-align: left;
	color: #7f7f7f;
	font: 12px 'tahoma';
	background-color: transparent;
	border-width: 0px;
	width: 160px;
	cursor: text;
	}

	.forget_button {
	float: left;
	clear: both;
	margin-top: 25px;
	}

	.sim_sim {
	position: absolute;
	top: 190px;
	right: 0px;
	}

	.input6_container, .input7_container {
	margin-top: 20px;
	float: left;
	clear: both;
	width: 316px;
	height: 21px;
	padding: 7px 17px 0px 17px;
	background: url("../images/input5.png") no-repeat;
	}

	.input6 {
	padding: 0px;
	text-align: left;
	color: #7f7f7f;
	font: 12px 'tahoma';
	background-color: transparent;
	border-width: 0px;
	width: 316px;
	cursor: text;
	}

	.input6_container label, .input7_container label {
	font: 12px 'tahoma';
	color: #7f7f7f;
	width: 316px;
	position: relative;
	z-index: 0;
	float: left;
	margin-bottom: -14px;
	clear: both;
	cursor: text;
	}

	.pass2, .pass3 {
	position: relative;
	z-index: 6;
	float: left;
	margin-top: -1px;
	color: #7f7f7f;
	font: 12px 'tahoma';
	background-color: transparent;
	border-width: 0px;
	width: 316px;
	}

	.registration {
	float: left;
	padding: 0px 0px 0px 100px;
	margin-top: -43px;
	width: 850px;
	font-size: 11px;
	color: #fff;
	line-height: 17px;
	}

	.registration h1{
	padding-top: 10px;
	text-transform: uppercase;
	line-height: 22px;
	width: 100%;
	float: left;
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 30px;
	}

	.text08 {
	width: 450px;
	height: 23px;
	float: left;
	padding: 25px 0px 0px 50px;
	font-size: 11px;
	color: #b3a8a8;
	}
	
	.text08 span{
	color: #ba8b07;
	}

	.text09 {
	margin-top: 0px;
	height: auto !important;
	float: right !important;
	padding: 0px !important;
	}

	.text08 a:link {color: #ba8b07; text-decoration: underline}
	.text08 a:visited {color: #ba8b07; text-decoration: underline}
	.text08 a:active {color: #ba8b07; text-decoration: underline}
	.text08 a:hover {color: #ba8b07; text-decoration: none}

	.textarea2_container {
	float: left;
	margin-top: 20px;
	width: 774px;
	height: 165px;
	padding: 6px 11px 0px 16px;
	background: url("../images/textarea2.png") no-repeat;
	}

	.textarea2 {
	color: #7f7f7f;
	font: 12px 'tahoma';
	background-color: transparent;
	border-width: 0px;
	width: 774px;
	height: 160px;
	}

	.agreement {
	text-align: right;
	float: left;
	width: 801px;
	margin-top: 30px;
	font-size: 12px;
	color: #f0b3a7;
	}

	.agreement span {
	padding-left: 5px;
	float: right;
	}

	.agreecheck {
	float: right;
	}

	.agree_button {
	float: right;
	clear: both;
	margin-top: 25px;
	}

	.selectbox2_container {
	display: inline;
	margin: 20px 0px 0px 0px;
	float: left;
	clear: both;
	width: 343px;
	height: 24px;
	padding: 4px 0px 0px 7px;
	background: url("../images/input5.png") no-repeat;
	}

	.selectbox2_subcontainer {
	display: inline;
	margin: -28px 0px 0px 1px;
	float: left;
	clear: both;
	width: 343px;
	height: 24px;
	padding: 4px 0px 0px 7px;
	}

	.selectbox2 {
	float: left;
	margin: 3px 0px 0px 4px;
	width: 325px;
	height: 13px;
	overflow: hidden;
	}

	.selectbox2 select{
	float: left;
	font: 12px 'tahoma';
	color: #7f7f7f;
	margin: -2px 0px 0px -2px;
	width: 328px;
	}

	.news {
	float: left;
	width: 350px;
	padding: 80px 0px 0px 100px;
	font-size: 12px;
	color: #fff;
	line-height: 17px;
	}

	.news h1{
	padding-top: 10px;
	text-transform: uppercase;
	line-height: 22px;
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 30px;
	}

	.news_image {
	position: absolute;
	top: 190px;
	right: 0px;
	}

	.news_date {
	font-size: 11px;
	}

	.news_header {
	font-size: 14px;
	text-decoration: underline;
	color: #7c6c69;
	padding-bottom: 25px;
	}

	.news_header a:link {color: #7c6c69; text-decoration: underline}
	.news_header a:visited {color: #7c6c69; text-decoration: underline}
	.news_header a:active {color: #7c6c69; text-decoration: underline}
	.news_header a:hover {color: #7c6c69; text-decoration: none}

	.all_news {
	font-size: 12px;
	margin-top: 35px;
	padding: 0px 0px 0px 15px;
	background: url("../images/icon1.gif") no-repeat 0px 3px;
	}

	.all_news a:link {color: #ffa800; text-decoration: underline}
	.all_news a:visited {color: #ffa800; text-decoration: underline}
	.all_news a:active {color: #ffa800; text-decoration: underline}
	.all_news a:hover {color: #ffa800; text-decoration: none}

	.news_container {
	float: left;
	padding: 15px;
	_padding: 15px 5px 0px 15px;
	background: url("../images/news_bg.png") no-repeat;
	}

	.news_container .news_header {
	font-size: 14px;
	text-decoration: none;
	padding-bottom: 0px;
	}

	.navigation {
	width: 345px;
	float: left;
	padding: 35px 0px 0px 7px;
	font-size: 13px;
	color: #fff;
	clear: both;
	}

	.navigation ul li {
	display: inline;
	margin-left: 8px;
	}

	.navigation span{
	color: #ffa800;
	font-weight: bold;
	}

	.navigation a:link {color: #fff; text-decoration: underline}
	.navigation a:visited {color: #fff; text-decoration: underline}
	.navigation a:active {color: #fff; text-decoration: underline}
	.navigation a:hover {color: #fff; text-decoration: none}

	.about_container {
	float: left;
	padding: 0px 0px 0px 100px;
	margin-top: -43px;
	width: 850px;
	font-size: 11px;
	color: #fff;
	line-height: 17px;
	}

	.about_container h1{
	padding-top: 10px;
	text-transform: uppercase;
	line-height: 22px;
	width: 100%;
	float: left;
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 60px;
	}

	.block1 {
	float: left;
	width: 400px;
	font-size: 11px;
	color: #b7a9a9;
	}

	.text10 {
	font-size: 17px;
	font-weight: bold;
	color: #ffa800;
	padding-bottom: 30px;
	}

	.text10 span{
	font-size: 25px;
	font-weight: normal;
	color: #fff;
	}

	.block2 {
	float: left;
	padding: 0px 0px 0px 100px;
	width: 300px;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	}

	.text11 {
	font-size: 18px;
	color: #ffa800;
	padding: 10px 0px 15px 0px;
	}

	.service_table {
	float: left;
	padding: 60px 0px 5px 0px;
	width: 700px;
	font-size: 11px;
	color: #ffe401;
	}
	
	.service_table img{
	float: left;
	}

	.service_name {	
	width: 200px;
	float: left;
	}

	.text12 {
	font-size: 12px;
	font-weight: bold;
	color: #ffa800;
	line-height: 14px;
	padding-left: 50px;
	}

	.text12 span{
	line-height: 20px;
	padding-bottom: 5px;
	font-size: 25px;
	font-weight: normal;
	color: #fff;
	}

	.block3 {
	float: left;
	padding: 0px 0px 0px 0px;
	width: 335px;
	font-size: 12px;
	color: #fff;
	}

	.block4 {
	float: left;
	padding: 0px 0px 0px 70px;
	margin-top: -3px;
	width: 435px;
	font-size: 12px;
	color: #fff;
	line-height: 22px;
	}

	.text13 {
	font-size: 18px;
	padding-top: 15px;
	}