<? if(Zend_Auth::getInstance()->hasIdentity()): ?>
    <div class="info">
        <h2>Добро Пожаловать!</h2>
        <div>Краткая информация для начало работы с платформой</div>
    </div>
    <div class="text">
        <p>Для начала работы с платформой нужно <a href="<?= $this->url(array('controller' => 'services', 'action' => 'add')) ?>">создать новый сервис</a></p>
        <br />
        <p>Статистика по sms доступна в виде <a href="<?= $this->url(array('controller' => 'stats')) ?>">сводной</a> по дням и <a href="<?= $this->url(array('controller' => 'detail')) ?>">детальной</a> с подробной информацией по каждой sms.</p>
        <br />
        <p>Подробности по подключению и настройки сервисов можно прочитать на странице <a href="<?= $this->url(array('controller' => 'info')) ?>">информации</a></p>
        <br />
        <p>Ваши персональные <a href="<?= $this->url(array('controller' => 'tariffs')) ?>">тарифы</a> доступны в соответствующем разделе.</p>
        <br />
        <p>Если возникли какие-то вопросы вы можете <a href="<?= $this->url(array('controller' => 'support')) ?>">обратится в службу поддержки</a></p>
        <br />
    </div>
<? else: ?>
<div id="parentlogin" style="background-color:white;">
    <div id="loginform" class="fieldset" style="display:block;width:300px;padding:0px;margin:0px;">
        <form action="/index/login" method="POST">
            <ul>
                <li>
                    <span class="left">
                        <label for="login" class="desc optional">Логин:</label>
                        <input type="text" name="login" id="login" value="" class="text">
                        <label class="hint reg">Регистрация</label>
                    </span>
                    <span class="left">
                        <label for="password" class="desc optional">Пароль:</label>
                        <input type="password" name="password" id="password" value="" class="text">
                        <label class="hint ret">Напомнить</label>
                    </span>
                </li>
                <li>
                    <button type="submit">Войти</button>
                </li>
            </ul>
        </form>
    </div>

    <div id="regform" class="fieldset" style="width:300px;padding:0px;margin:0px;">
        <form action="" method="POST">
            <ul>
                <li>
                    <span class="full">
                        <label for="login" class="desc">Логин:</label>
                        <input type="text" name="login" id="login" value="" class="text full">
                        <label class="hint">Английскими буквами и цифрами</label>
                    </span>
                </li>
                <li class="complex">
                    <div>
                        <span class="left">
                            <label for="password" class="desc">Пароль:</label>
                            <input type="password" name="password" id="password" value="" class="text">
                            <label class="hint"></label>
                        </span>
                        <span class="right">
                            <label for="password2" class="desc">Ещё раз:</label>
                            <input type="password" name="password2" id="password2" value="" class="text">
                            <label class="hint"></label>
                        </span>
                    </div>
                </li>
                <li class="buttons">
                    <button type="button" class="back">Назад</button>
                    <button type="submit" class="reg">Регистрация</button>
                </li>
            </ul>
        </form>
    </div>

    <div id="retform" class="fieldset" style="width:300px;padding:0px;margin:0px;">
        <form action="" method="POST">
            <ul>
                <li class="full">
                    <span class="full">
                        <label for="email" class="desc">Email или логин:</label>
                        <input type="text" name="email" id="email" value="" class="text full">
                        <label class="hint">Указанный при регистрации</label>
                    </span>
                </li>
                <li class="buttons">
                    <button type="button" class="back">Назад</button>
                    <button type="submit" class="ret">Напомнить</button>
                </li>
            </ul>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#parentlogin").css('top', 80).center({top:false});
        var tab = window.location.hash;
        if(tab !== '') {
            switch(tab) {
                case '#registration':
                    $('#loginform').toggle();
                    $('#regform').fadeToggle();
                break;

                case '#lost':
                    $('#loginform').toggle();
                    $('#retform').fadeToggle();
                break;

                default:
                break;
            }
        }
        $("li > button").button({
            icons: {
                primary: 'ui-icon-power'
            }
        });
        $("label.reg").button({
            icons: {
                primary: 'ui-icon-key'
            }
        }).click(function(){
            $('#loginform').toggle();
            $('#regform').fadeToggle();
        });
        $("label.ret").button({
            icons: {
                primary: 'ui-icon-locked'
            }
        }).click(function(){
            $('#loginform').toggle();
            $('#retform').fadeToggle();
        });
        $('button.reg').button({
            icons: {
                primary: 'ui-icon-key'
            }
        });
        $('button.ret').button({
            icons: {
                primary: 'ui-icon-locked'
            }
        });
        $('button.back').button({
            icons: {
                primary: 'ui-icon-arrowthick-1-w'
            }
        }).click(function(){
            $('#regform').hide();
            $('#retform').hide();
            $('#loginform').fadeToggle();
        });
    });
</script>
<? endif; ?>