							<ul class="menu">
								<li><span>Страницы:</span></li>
                                <?php if ($this->pageCount): ?>
                                <?php foreach ($this->pagesInRange as $page): ?>
                                <?php
                                    if ($page != $this->current) {
                                        echo '<li' . (($page == $this->first) ? ' class="no-separator"' : '') . '><a href="/news/page/' . $page . '">' . $page . '</a></li>';
                                    } else {
                                        echo '<li class="active' . (($page == $this->first) ? ' no-separator' : '') . '"><span>' . $page . '</span></li>';
                                    }
                                ?>
                                <?php endforeach; ?>
                                <?php endif; ?>
							</ul>