<div class="info">
    <h2>Информация для партнёров</h2>
    <div>Данный раздел содержит наиболее важную и полезную информацию по работе с платформой</div>
</div>
<div class="text">
1. Предоставление контент услуг абонентам, для доступа к которым требуется отправка SMS-сообщений на различные платные
SMS-номера (если на странице описания услуги указано, что для получения одной и той же услуги абонент может отправить SMS-
сообщение на один из двух (или более) коротких номеров, то для каждого короткого номера должна быть указана стоимость и
количество SMS и сроки действия услуги).<br/>
2. Распространение порнографических материалов (в том числе содержащих сцены изнасилований, педофилии, некрофилии,
зоофилии).<br/>
3. Распространение контента, нарушающего авторские права. Потенциально нелицензионный контент (аудио, видео, фото и т.д.)
должен незамедлительно удаляться с ресурсов по первому требованию PaySTREAM и (или) правообладателя.<br/>
4. Распространение программного обеспечения, которое, без информирования абонента (либо с неполным информированием),
производит отправку SMS- сообщений на платные SMS-номера.<br/>
5. Распространение контента, название которого может ввести абонента в заблуждение о сути предоставляемой услуги (SMS
пеленгатор, Определитель местоположения, «Сканер одежды», антивирусы и т.п.), либо название которых схожи или совпадают с
названиями популярных программных продуктов (Jimm, ICQ, Fring и т.д.).<br/>
6. Использование сервисов, предлагающих он-лайн проверку компьютера на вирусы и получение результатов проверки после
отправки SMS на короткий номер.<br/>

7. Распространение контента, способного причинить вред терминальным устройствам абонентов (телефонам, смартфонам,
КПК, персональным компьютерам). Например, удаление или блокировка доступа к информации на компьютере/телефоне или
несанкционированное абонентом ограничение основных функций работы вышеперечисленных устройств.<br/>
8. Использование сервисов, трактующихся как услуги операторов связи.<br/>
9. Использование сервиса, переправляющего пользователя с запрашиваемой страницы на страницу, запрещающую доступ
пользователя к ресурсу и содержащую информацию о том, что для получения доступа на сайт пользователю требуется отправить
SMS на короткий номер: подмена хостов.<br/>
10. Распространение рекламы контент-услуг без предварительного согласия либо ознакомления с договором оферты со
стороны абонента (спам): с использованием SMS-рассылок; с использованием социальных сетей (в том числе Facebook, Twitter,
Одноклассники, Вконтакте, LiveJournal, МойКруг и др.); с использованием служб обмена сообщениями (в том числе ICQ, MSN, Google
Talk, Skype и др.).<br/>
11. Предоставление услуг по переводу средств на любые электронные платежные системы (Web Money, Яндекс Деньги и др.) путем
отправки SMS-сообщений на платные SMS-номера, за исключением игровой валюты.<br/>
12. Предоставление услуг с указанием неправильной стоимости услуги, с указанием стоимости части услуги, либо с неправильно
описанными условиями предоставления SMS-услуг.<br/>
13. Предоставление услуг, принуждающих абонента раскрывать какую-либо конфиденциальную информацию о себе либо
предлагающих получить конфиденциальную информацию о других людях.<br/>
14. Сервисы, замаскированные под файлообменные, на деле не предлагающие абоненту после отправки SMS никакой услуги. К
таковым относятся разархиваторы с помещенным в архив файлом-«пустышкой» и/или ссылками на скачивание заказанного файла с
других, в том числе, бесплатных файлообменных сайтов.<br/>
15. Организация благотворительных акций посредствам SMS-платежей.<br/>

16. Вымогательство денежных средств, а также угрозы для жизни, здоровья, имущества Абонентов.<br/>
17. Недобросовестное предоставление сервиса (частичное оказание; полное отсутствие сервиса после произведенной Абонентом
оплаты).<br/>
18. Другие действия, нарушающие законодательство РФ и противоречащие этическим нормам и принципам.<br/>
19. При использовании двойной (тройной) отправки смс для получения услуги использовать короткие номера с увеличением
тарификации (например – первый номер стоимостью 1 уе, второй 5 уе – и т.д.).<br/><br/>
<b>* - в правилах оплаты должна присутствовать следующая информация:</b><br/>
1. Короткий номер (цифрами) и текст сообщения (номер и текст - с учетом особенностей по каждой стране).<br/>
2. Количество SMS-сообщений, которые необходимо отправить для получения услуги. НЕ ДОПУСКАЕТСЯ формулировка «требуется
двойная (тройная) авторизация», НУЖНО – «для получения услуги требуется отправки 1\2\3 сообщений».<br/>
3. Стоимость отправки каждого SMS-сообщения с учетом НДС (либо ссылка на стоимость конкретного номера на нашем
абонентском сайте – например, если в оплате указан номер 7122, то ссылка должна быть http://payhelp.ru/num/7122/; либо ссылка на
WEB-страницу, с информацией о стоимости отправки каждого SMS-сообщения на короткий номер с учетом НДС, указание целого
пула номеров недопустимо). Переход по ссылке должен осуществляться на WEB-страницу, содержащую информацию о стоимости
отправки SMS-сообщений на короткий номер, который используется для оказания данной услуги абоненту.<br/>
4. Контактная информация службы поддержки (обязательно указание номера телефона).<br/>

5. Ограничения по отправке SMS у.е. в час/сутки с одного номера телефона.<br/>
6. Сроки действия услуги.<br/>
7. Во всех ответных SMS-сообщениях к абоненту должен указываться сайт, предоставляющий услугу, и содержаться номер
телефона службы поддержки.<br/>
8. В ответном SMS-сообщении к абоненту, содержащем код услуги, должна быть указана ссылка на WEB-ресурс, на котором абонент
может использовать полученный код.<br/>
9. Стоимость услуги должна быть указана цифрами, в цвете, контрастном к основному фону, и быть размером не менее 12-го кегля.
Ссылка на общие условия использования услуги должна быть размещена рядом с коротким номером и должна быть такого же
размера, как и основной текст рекламного сообщения.<br/><br/>

<b>Примеры оформления правил для абонентов:</b>
<br/>
1. Короткий номер, текст сообщения, количество SMS и стоимость SMS указаны на одной странице. <a href="http://upload.paystream.ru/partner/1.gif">Пример</a><br/>

2. Короткий номер, текст сообщения, количество SMS указаны на одной странице. Также дана ссылка на стоимость сообщений.
<a href="http://upload.paystream.ru/partner/1.gif">Пример</a><br/>
Страница с информацией о стоимости SMS. <a href="http://upload.paystream.ru/partner/2-1.gif">Пример</a><br/>
3. Короткий номер и текст сообщения указаны на одной странице. Также дана ссылка на страницу с Информацией для абонента.
<a href="http://upload.paystream.ru/partner/3.gif">Пример</a><br/>
Информация для абонента. <a href="http://upload.paystream.ru/partner/3-1.gif">Пример</a><br/>
</div>
<br/>
<table class="table" id="table" cellspacing="1" cellpadding="0">
<thead>
    <tr>
        <th>Страна</th>
        <th>Номер</th>
        <th>Префикс</th>
        <th style="width:160px">Подключение префикса</th>
        <th style="width:180px">Срок подключения префикса</th>
        <th>Правила для абонентов</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Россия</td>
        <td>1350</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>1132</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>2322</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Россия</td>
        <td>3350</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>3352</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>3353</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Россия</td>
        <td>3354</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>3533</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>3833</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Россия</td>
        <td>4565</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>7122</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>7132</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Россия</td>
        <td>7515</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>7517</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>8055</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Россия</td>
        <td>8155</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>8355</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Россия</td>
        <td>9099</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Азербайджан</td>
        <td>3301</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Азербайджан</td>
        <td>3302</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Азербайджан</td>
        <td>3303</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Азербайджан</td>
        <td>3304</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Азербайджан</td>
        <td>4448</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Азербайджан</td>
        <td>8171</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Армения</td>
        <td>4446</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Армения</td>
        <td>4449</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Армения</td>
        <td>8161</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Беларусь</td>
        <td>3336</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Беларусь</td>
        <td>3337</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Беларусь</td>
        <td>3338</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Беларусь</td>
        <td>4161</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Беларусь</td>
        <td>4446</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Беларусь</td>
        <td>4449</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Грузия</td>
        <td>4107</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td></td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Грузия</td>
        <td>4161</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Грузия</td>
        <td>4445</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Таджикистан</td>
        <td>4161</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Таджикистан</td>
        <td>4446</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Таджикистан</td>
        <td>4449</td>
        <td>[dx]префикс</td>
        <td>через менеджера</td>
        <td>от 2 недель</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Таджикистан</td>
        <td>7122</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Таджикистан</td>
        <td>7132</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Германия</td>
        <td>82300</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Израиль</td>
        <td>5550</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Казахстан</td>
        <td>7122</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Казахстан</td>
        <td>7132</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Казахстан</td>
        <td>4161</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Казахстан</td>
        <td>3350</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Казахстан</td>
        <td>3353</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Киргизия</td>
        <td>7122</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Киргизия</td>
        <td>7132</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Киргизия</td>
        <td>4161</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Киргизия</td>
        <td>4446</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Киргизия</td>
        <td>4449</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Латвия</td>
        <td>1824</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Литва</td>
        <td>1624</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Украина</td>
        <td>3151</td>
        <td>простой</td>
        <td>через менеджера</td>
        <td>1 раб/день</td>
        <td>СМС с текстом **** на номер 3151 – 30,00 гривен с НДС. Все национальные GSM-операторы Украины (кроме Utel).
            Сбор в ПФ доп-но 7,5% от ст-ти услуги без учета НДС. Услуга предоставляется только для совершеннолетних
        </td>
    </tr>
    <tr>
        <td>Украина</td>
        <td>7136</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>СМС с текстом **** на номер 7136 – 7,20 гривен с НДС. Все национальные GSM-операторы Украины (кроме Utel).
            Сбор в ПФ доп-но 7,5% от ст-ти услуги без учета НДС. ООО «Полигон Интегрейшн Украина» (01601, Украина, Киев,
            б-р Леси Украинки 34, оф. 426)
        </td>
    </tr>

    <tr>
        <td>Украина</td>
        <td>7137</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>СМС с текстом **** на номер 7137 – 15,00 гривен с НДС. Услуга действительна для абонентов всех национальных
            GSM Операторов Украины. Сбор в ПФ доп-но 7,5% от ст-ти услуги без учета НДС. Поддержка 10:00-18:00 в будни
            +38(044)586-52-99. ООО «Полигон Интегрейшн Украина» (01601, Украина, Киев, б-р Леси Украинки 34, оф. 426)
        </td>
    </tr>
    <tr>
        <td>Украина</td>
        <td>7138</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>СМС с текстом **** на номер 7138 – 30,00 гривен с НДС. Все национальные GSM-операторы Украины (кроме Utel).
            Сбор в ПФ доп-но 7,5% от ст-ти услуги без учета НДС. Поддержка 10:00-18:00 в будни +38(044)586-52-99. ООО
            «Полигон Интегрейшн Украина» (01601, Украина, Киев, б-р Леси Украинки 34, оф. 426)
        </td>
    </tr>
    <tr>
        <td>Украина</td>
        <td>7139</td>
        <td>простой</td>
        <td>-</td>
        <td>-</td>
        <td>СМС с текстом ХХХ на номер 7139 – 50,00 гривен с НДС. Все национальные GSM-операторы Украины (кроме Utel).
            Сбор в ПФ доп-но 7,5% от ст-ти услуги без учета НДС. Поддержка 10:00-18:00 в будни +38(044)586-52-99. ООО
            «Полигон Интегрейшн Украина» (01601, Украина, Киев, б-р Леси Украинки 34, оф. 426)
        </td>
    </tr>

    <tr>
        <td>Украина</td>
        <td>4161</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Украина</td>
        <td>4447</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Украина</td>
        <td>4449</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>

    <tr>
        <td>Эстония</td>
        <td>1206</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
    <tr>
        <td>Эстония</td>
        <td>1302</td>
        <td>[dx]префикс</td>
        <td>-</td>
        <td>-</td>
        <td>общие*</td>
    </tr>
</tbody>
</table>

<script type="text/javascript">
    try {
        $("#table").tablesorter({
            //widthFixed: true,
            widgets: ['zebra']
        });
    }catch(e){}
</script>